
<div>
  <div class="card b text-white">
    <div class="card-body bg-cover clearfix" style="background-image: url(assets/img/bg8.jpg);">
      <div class="media mt-0 align-items-center">
        <img class="mr-3 img-thumbnail rounded-circle" src="assets/img/user/coop.jpg" alt="Image" />
        <div class="media-body">
          <div class="d-flex">
            <div>
              <h4 class="m-0">Name: {{accountdetails?.client_name || accountdetails?.cardname || accountdetails?.clientname || accountdetails?.custname}}</h4>
              <p>Address: {{accountdetails?.addressline1 || accountdetails?.address}} Tel: {{accountdetails?.cellnumber || accountdetails?.mobile || accountdetails?.phonenumber || accountdetails?.telnumber || accountdetails?.celnumber}}</p>
              <p>{{accountdetails?.cellnumber}}</p><br> <p>{{accountdetails?.mobile}}</p> <br><p>{{accountdetails?.phonenumber}}</p><br><p>{{accountdetails?.telnumber}}</p><br><p>{{accountdetails?.celnumber}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="hidden-xs col-sm-2">
      <div class="fading-side-menu" data-spy="affix" data-offset-top="350" style="padding-left: 10px">
        <h5>Menus</h5>

        <button  [routerLink]="['./activityhome']" [routerLinkActive]="['active']"
        [queryParams]="{accnumber: accnumber, custnumber: custnumber, username: username, sys: sys}"
        queryParamsHandling="merge" class="btn-sample btn-outline btn btn-block" >Client Home</button>
        <button [routerLink]="['./notes']" [routerLinkActive]="['active']"
        [queryParams]="{accnumber: accnumber, custnumber: custnumber, username: username, sys: sys}"
        queryParamsHandling="merge" class=" btn-sample btn-outline btn btn-block" >Notes History<span class="badge badge-danger float-right">{{notes}}</span></button>

        <button  [routerLink]="['./activityaction']" [routerLinkActive]="['active']"
        [queryParams]="{accnumber: accnumber, custnumber: custnumber, username: username, sys: sys}"
        queryParamsHandling="merge" class="  btn-sample btn-outline  btn btn-block" >Collector Activity</button>

        <button  [routerLink]="['./demandletters']" [routerLinkActive]="['active']"
        [queryParams]="{accnumber: accnumber, custnumber: custnumber, username: username, sys: sys}"
        queryParamsHandling="merge" class="  btn-sample btn-outline  btn btn-block" >Demand Letters</button>

        <button  [routerLink]="['./sms']" [routerLinkActive]="['active']"
        [queryParams]="{accnumber: accnumber, custnumber: custnumber, username: username, sys: sys}" class="  btn-sample btn-outline  btn btn-block" >Send SMS</button>

        <button  [routerLink]="['./accplan']" [routerLinkActive]="['active']"
        [queryParams]="{accnumber: accnumber, custnumber: custnumber, username: username, sys: sys}" class="  btn-sample btn-outline  btn btn-block" >Account Plan</button>

        <button [routerLink]="['./contacts']" [routerLinkActive]="['active']"
        [queryParams]="{accnumber: accnumber, custnumber: custnumber, username: username, sys: sys}" class=" btn-sample btn-outline btn btn-block" >Customer Contacts<span class="badge badge-danger float-right">{{totalcontacts}}</span></button>

        <button [routerLink]="['./remedialcollaterals']" [routerLinkActive]="['active']"
        [queryParams]="{accnumber: accnumber, custnumber: custnumber, username: username, sys: sys}" class=" btn-sample btn-outline btn btn-block" >Remedial Collaterals<span class="badge badge-danger float-right">{{totalcollaterals}}</span></button>

        <button [routerLink]="['./guarantors']" [routerLinkActive]="['active']"
        [queryParams]="{accnumber: accnumber, custnumber: custnumber, username: username, sys: sys}"
        queryParamsHandling="merge" class=" btn-sample btn-outline btn btn-block" >Guarantors<span class="badge badge-danger float-right">{{totalguarantors}}</span></button>

        <button [routerLink]="['./files']" [routerLinkActive]="['active']"
        [queryParams]="{accnumber: accnumber, custnumber: custnumber, username: username, sys: sys}"
        queryParamsHandling="merge" class=" btn-sample btn-outline btn btn-block" >Upload Files<span class="badge badge-danger float-right">{{totalfiles}}</span></button>

        <button  [routerLink]="['./bulknotes']" [routerLinkActive]="['active']"
        [queryParams]="{accnumber: accnumber, custnumber: custnumber, username: username, sys: sys}" class="  btn-sample btn-outline  btn btn-block" >Bulk Note Upload</button>

        <button  [routerLink]="['./ptps']" [routerLinkActive]="['active']"
        [queryParams]="{accnumber: accnumber, custnumber: custnumber, username: username, sys: sys}" class="  btn-sample btn-outline  btn btn-block" >Ptps</button>

        <hr class="no-margin">
        <!-- <ul class="list-unstyled">
            
          <li>
            <a [routerLink]="['./activityhome']" [routerLinkActive]="['active']"
              [queryParams]="{accnumber: accnumber, custnumber: custnumber, username: username, sys: sys}"
              queryParamsHandling="merge">
              <span class="fa fa-angle-double-right text-primary"></span>Client Home
            </a>
          </li>
          <li>
            <a [routerLink]="['./notes']" [routerLinkActive]="['active']"
              [queryParams]="{accnumber: accnumber, custnumber: custnumber, username: username, sys: sys}"
              queryParamsHandling="merge">
              <span class="fa fa-angle-double-right text-primary"></span>Notes History &nbsp;<span
                class="badge badge-success float-right">{{notes}}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['./activityaction']" [routerLinkActive]="['active']"
              [queryParams]="{accnumber: accnumber, custnumber: custnumber, username: username, sys: sys}"
              queryParamsHandling="merge">
              <span class="fa fa-angle-double-right text-primary"></span>Collector Activity
            </a>
          </li>
          <li *ngIf="demandlettersmenu">
            <a [routerLink]="['./demandletters']" [routerLinkActive]="['active']"
              [queryParams]="{accnumber: accnumber, custnumber: custnumber, username: username, sys: sys}"
              queryParamsHandling="merge">
              <span class="fa fa-angle-double-right text-primary"></span>Demand letters
            </a>
          </li>
          <li>
            <a [routerLink]="['./sms']" [routerLinkActive]="['active']"
              [queryParams]="{accnumber: accnumber, custnumber: custnumber, username: username, sys: sys}">
              <span class="fa fa-angle-double-right text-primary"></span>Send sms
            </a>
          </li>
          <li *ngIf="collateralmenu">
            <a [routerLink]="['./accplan']" [routerLinkActive]="['active']"
              [queryParams]="{accnumber: accnumber, custnumber: custnumber, username: username, sys: sys}">
              <span class="fa fa-angle-double-right text-primary"></span> Account plan
            </a>
          </li>
          <li>
            <a [routerLink]="['./contacts']" [routerLinkActive]="['active']"
              [queryParams]="{accnumber: accnumber, custnumber: custnumber, username: username, sys: sys}">
              <span class="fa fa-angle-double-right text-primary"></span>Customer contacts &nbsp;<span
              class="badge badge-success float-right">{{totalcontacts}}</span>
            </a>
          </li>
          <li *ngIf="collateralmenu"> 
            <a [routerLink]="['./remedialcollaterals']" [routerLinkActive]="['active']"
              [queryParams]="{accnumber: accnumber, custnumber: custnumber, username: username, sys: sys}">
              <span class="fa fa-angle-double-right text-primary"></span>Remedial collaterals &nbsp;<span
              class="badge badge-success float-right">{{totalcollaterals}}</span>
            </a>
          </li>
          <li *ngIf="guarantorsmenu">
            <a [routerLink]="['./guarantors']" [routerLinkActive]="['active']"
              [queryParams]="{accnumber: accnumber, custnumber: custnumber, username: username, sys: sys}">
              <span class="fa fa-angle-double-right text-primary"></span>Guarantors &nbsp;<span
              class="badge badge-success float-right">{{totalguarantors}}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['./files']" [routerLinkActive]="['active']"
              [queryParams]="{accnumber: accnumber, custnumber: custnumber, username: username, sys: sys}"
              queryParamsHandling="merge">
              <span class="fa fa-angle-double-right text-primary"></span>Upload Files <span class="badge badge-primary float-right">{{totalfiles}}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['./bulknotes']" [routerLinkActive]="['active']"
              [queryParams]="{accnumber: accnumber, custnumber: custnumber, username: username, sys: sys}">
              <span class="fa fa-angle-double-right text-primary"></span>Bulk note upload
            </a>
          </li>
        </ul> -->
      </div>
    </div>
    <div class="hidden-xs col-sm-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>