
<div class="content-heading">
        <div>Credit cards
          <small>zero balance</small></div>
      </div>
      <!-- START card-->
      <div class="card card-default">
          <div class="card-header">Credit cards: zero balance</div>
      
        <!-- END box placeholder-->
        <jqxGrid #myGrid 
        [theme]="'energyblue'"
        [width]="'100%'"
        [source]="dataAdapter"
        [columns]="columns" 
        [columnsresize]="true"
        [sortable]="true"
        [pageable]="true"
        [autoheight]="false" 
        [height]="550" 
        [sortable]="true" 
        [altrows]="true"
        [enabletooltips]="true" 
        [filterable]="true"
        [pagesize]="30"
        [pagesizeoptions]="['30', '40', '50']" 
        [showfilterrow]="true"
        [virtualmode]= "true"
        [rendergridrows] = "rendergridrows"
        
        >
        </jqxGrid>
    
      </div>
      