<div class="wrapper">
    <div class="abs-center" *ngIf="activitydash">
        <div class="text-center my-3">
            <h1 class="mb-3">
                <sup>
                    <em class="fa fa-cog fa-2x text-muted fa-spin text-info"></em>
                </sup>
                <em class="fa fa-cog fa-5x text-muted fa-spin text-purple"></em>
                <em class="fa fa-cog fa-lg text-muted fa-spin text-success"></em>
            </h1>
            <div class="text-bold text-lg mb-3">ACTIVITYDASH IS UNDER DEVEOPMENT</div>
            <p class="lead m0">it will be online shortly!</p>
        </div>
    </div>

    <div class="abs-center" *ngIf="amntcollecteddash">
        <div class="text-center my-3">
            <h1 class="mb-3">
                <sup>
                    <em class="fa fa-cog fa-2x text-muted fa-spin text-info"></em>
                </sup>
                <em class="fa fa-cog fa-5x text-muted fa-spin text-purple"></em>
                <em class="fa fa-cog fa-lg text-muted fa-spin text-success"></em>
            </h1>
            <div class="text-bold text-lg mb-3">AMNTCOLLECTED IS UNDER DEVEOPMENT</div>
            <p class="lead m0">it will be online shortly!</p>
        </div>
    </div>

    <div class="abs-center" *ngIf="regionaldash">
        <div class="text-center my-3">
            <h1 class="mb-3">
                <sup>
                    <em class="fa fa-cog fa-2x text-muted fa-spin text-info"></em>
                </sup>
                <em class="fa fa-cog fa-5x text-muted fa-spin text-purple"></em>
                <em class="fa fa-cog fa-lg text-muted fa-spin text-success"></em>
            </h1>
            <div class="text-bold text-lg mb-3">REGIONALDASH IS UNDER DEVEOPMENT</div>
            <p class="lead m0">it will be online shortly!</p>
        </div>
    </div>

    <div class="abs-center" *ngIf="systemdash">
        <div class="text-center my-3">
            <h1 class="mb-3">
                <sup>
                    <em class="fa fa-cog fa-2x text-muted fa-spin text-info"></em>
                </sup>
                <em class="fa fa-cog fa-5x text-muted fa-spin text-purple"></em>
                <em class="fa fa-cog fa-lg text-muted fa-spin text-success"></em>
            </h1>
            <div class="text-bold text-lg mb-3">SYSTEMDASH IS UNDER DEVEOPMENT</div>
            <p class="lead m0">it will be online shortly!</p>
        </div>
    </div>
</div>
