
<div class="content-heading">
    <div>Work List
      <small>My allocations</small></div>
  </div>
  <!-- START card
  <div class="card card-default">
      <div class="card-header">Loans: My allocations</div>

    <jqxGrid #myGrid
    [theme]="'energyblue'"
    [width]="'100%'"
    [source]="dataAdapter"
    [columns]="columns"
    [columnsresize]="true"
    [sortable]="true"
    [pageable]="true"
    [autoheight]="false"
    [height]="550"
    [sortable]="true"
    [altrows]="true"
    [enabletooltips]="true"
    [filterable]="true"
    [pagesize]="30"
    [pagesizeoptions]="['30', '40', '50']"
    [showfilterrow]="true"
    [virtualmode]= "true"
    [rendergridrows] = "rendergridrows"

    >
    </jqxGrid>

  </div> -->

  <!-- START card-->

      <ag-grid-angular #agGrid id="myGrid" class="ag-theme-balham"  style="width: 100%; height: 550px;" [columnDefs]="columnDefs"
                       [defaultColDef]="defaultColDef"
                       [gridOptions]="gridOptions"   [pagination]="true" [floatingFilter]="true" [rowData]="rowData"
                       [modules]="modules" [pivotPanelShow]="pivotPanelShow" [sideBar]="true"
                       [animateRows]="true" (rowClicked)='onRowDoubleClicked($event)' >

      </ag-grid-angular>

