<div class="wrapper container">
  <toaster-container [toasterconfig]="config"></toaster-container>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-fade">
    <p style="font-size: 20px; color: white">Processing ...</p>
  </ngx-spinner>
  <!--<div class="card b text-white">
    <div class="card-body bg-cover clearfix" style="background-image: url(assets/img/bg10.jpg);">
      <div class="media mt-0 align-items-center">
        <img class="mr-3 img-thumbnail rounded-circle" src="assets/img/user/coop.jpg" alt="Image" />
        <div class="media-body">
          <div class="d-flex">
            <div>
              <h4 class="m-0">Name:
                {{accountdetails?.client_name || accountdetails?.cardname || accountdetails?.clientname || accountdetails?.custname}}
              </h4>
              <p>Address: {{accountdetails?.addressline1 || accountdetails?.address}} Tel:
                {{accountdetails?.cellnumber || accountdetails?.mobile || accountdetails?.phonenumber || accountdetails?.telnumber || accountdetails?.celnumber}}
              </p>
              <div class="dropdown show">
                {{autodial_telnumber}}
                <a class="btn btn-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white">
                  ... More contacts <span class="badge badge-info">{{totalTeles}}</span>
                </a>
                <a class="btn btn-link" href="#" role="button" (click)="refreshTeles()" style="color: white"><em
                    class="fas fa-sync fa-fw"></em>refresh</a> |
                <a class="btn btn-link" href="#" role="button" (click)="dialAvaya()"><em class="fa fa-phone fa-fw"
                    style="color: black"></em> Dial</a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a *ngFor="let t of teles" class="dropdown-item" href="#"
                    (click)='changeAutodialNumber(t.TELNUMBER)'>{{t.TELNUMBER}} | {{t.SOURCE}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
  <div class="card">
      <div class="card-header">
          <strong>Multiple Promises to Pay : {{custnumber}} </strong>
      </div>
      <div class="card-body">
          <div class="row">
              <div class="col-md-4">
                  <form #ptpForm="ngForm" (ngSubmit)="ptpfunc(ptpForm)" novalidate autocomplete="off">
                      <div class="form-group">
                          <label>Promise Amount:</label> <input class="form-control" #ptpamount="ngModel"
                              [(ngModel)]="ptp.ptpamount" name="ptpamount" placeholder="ptp amount"
                              [ngClass]="{ 'is-invalid': ptpamount.errors }" required />
  
                      </div>
                      <div class="form-group">
                          <label>Promise Date:</label> <input class="form-control" #ptpdate="ngModel"
                              [(ngModel)]="ptp.ptpdate" name="ptpdate" placeholder="ptp date"
                              [ngClass]="{ 'is-invalid': ptpdate.errors }" required />
  
                      </div>
                      <div class="col-xl-2 col-md-3">
                          Promise date
                        </div>
                        <div class="col-md-3">
                          <div class="col-md-12">
                            <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd" id="ptpdate" name="ptpdate" name="ptpdate"
                                ngbDatepicker #p="ngbDatepicker" formControlName="ptpdate" />
                              <div class="input-group-append">
                                <button class="btn btn-outline-primary" (click)="p.toggle()" type="button"><span><i
                                      class="fa fa-calendar"></i>
                                  </span></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      <button type="submit" class="btn btn-sm btn-square btn-warning" [disabled]="!ptpForm.valid">Save</button>
                  </form>
              </div>
              <div class="col-md-8">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>accnumber</th>
                              <th>ptp amount</th>
                              <th>ptp date</th>
                              <th>owner</th>
                              <th></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let p of ptps | paginate: { itemsPerPage: 5, currentPage: p }">
                              <td><strong>{{p.accnumber}}</strong></td>
                              <td>{{p.ptpamount}}</td>
                              <td>{{p.ptpdate}}</td>
                              <td>{{p.owner}}</td>
                              <td>
                                  
                              </td>
                          </tr>
                          <pagination-controls (pageChange)="p = $event"></pagination-controls>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
  

  <div class="p-3 text-center">
    <span>&copy;</span>
    <span>{{ settings.getAppSetting('year') }}</span>
    <span class="mx-2">-</span>
    <span>{{ settings.getAppSetting('name') }}</span>
    <br />
    <!--<span>{{ settings.getAppSetting('description') }}</span>-->
  </div>

</div>