<div class="content-heading">
    <div>
      Insurance Companies
      <small>Insurance</small>
    </div>
  </div>
  <div class="container-fluid">
      <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-fade">
          <p style="font-size: 20px; color: white">Processing ...</p>
        </ngx-spinner>
    <div id="accordion">
      <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#collapseOne">
            insurance Companies
          </a>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-4">
                <div class="card card-primary">
                  <div class="card-body">
                    <form #insuranceForm="ngForm" class="form-horizontal" (ngSubmit)="Submit(insuranceForm)" *ngIf="new">
                        <div class="form-group row mb">
                          <div class="col-md-12">
                            <div class="form-group">
                              <p>Insurance Co. Name</p>
                              <input class="form-control" name="insuranceName" id="insuranceName" #insuranceName="ngModel"
                                [(ngModel)]="model.insuranceName" [disabled]="false" required autocomplete="off"/>
                            </div>
  
                            <p class="my-2"></p>
                            <div class="form-group">
                              <p>Physical Address</p>
                              <input class="form-control" name="physicalAddress" id="physicalAddress" #physicalAddress="ngModel"
                                [(ngModel)]="model.physicalAddress" [disabled]="false" autocomplete="off"/>
                            </div>
                          </div>
                        </div>
                      <p class="my-2"></p>
                      <div class="form-group">
                        <p>Postal Address</p>
                        <input class="form-control" name="postalAddress" id="postalAddress" #postalAddress="ngModel"
                          [(ngModel)]="model.postalAddress" [disabled]="false" autocomplete="off"/>
                      </div>
                      <p class="my-2"></p>
                      <div class="form-group">
                        <p>Email Address</p>
                        <input class="form-control" name="emailAddress" id="emailAddress" #emailAddress="ngModel"
                        [(ngModel)]="model.emailAddress" [disabled]="false" autocomplete="off"/>
                      </div>
                      <p class="my-2"></p>
                      <div class="form-group">
                        <p>Telnumber</p>
                        <input class="form-control" name="telnumber" id="telnumber" #telnumber="ngModel"
                        [(ngModel)]="model.telnumber" [disabled]="false" autocomplete="off"/>
                      </div>
                      <p class="my-2"></p>
                      <div class="form-group">
                        <p>Contact Person</p>
                        <input class="form-control" name="contactPerson" id="contactPerson" #contactPerson="ngModel"
                        [(ngModel)]="model.contactPerson" [disabled]="false" autocomplete="off"/>
                      </div>
                      
                      
                      <p class="lead mt-3"></p>
                      <div>
                        <div class="clearfix">
                          <div class="float-left">
                            <button [disabled]="!insuranceForm.valid || !insuranceForm.dirty"
                              class="btn btn-outline-primary" type="submit">
                              <em class="fa fa-check fa-fw"></em>Add New</button>
                          </div>
                        </div>
                      </div>
                    </form>
                    <form #editForm="ngForm" class="form-horizontal" (ngSubmit)="editSubmit(editForm)" *ngIf="!new">
                      <p class="lead mt-3"></p>
                      <div class="form-group">
                        <p>Insurance Co. Name</p>
                        <input class="form-control" name="insuranceName" id="insuranceName" #insuranceName="ngModel"
                          [(ngModel)]="model.insuranceName" [disabled]="false" required autocomplete="off"/>
                      </div>

                      <p class="my-2"></p>
                      <div class="form-group">
                        <p>Physical Address</p>
                        <input class="form-control" name="physicalAddress" id="physicalAddress" #physicalAddress="ngModel"
                          [(ngModel)]="model.physicalAddress" [disabled]="false" autocomplete="off"/>
                      </div>
                      <p class="my-2"></p>
                      <div class="form-group">
                        <p>Postal Address</p>
                        <input class="form-control" name="postalAddress" id="postalAddress" #postalAddress="ngModel"
                          [(ngModel)]="model.postalAddress" [disabled]="false" autocomplete="off"/>
                      </div>
                      <p class="my-2"></p>
                      <div class="form-group">
                        <p>Email Address</p>
                        <input class="form-control" name="emailAddress" id="emailAddress" #emailAddress="ngModel"
                        [(ngModel)]="model.emailAddress" [disabled]="false" autocomplete="off"/>
                      </div>
                      <p class="my-2"></p>
                      <div class="form-group">
                        <p>Telephone Number</p>
                        <input class="form-control" name="telNumber" id="telNumber" #telNumber="ngModel"
                        [(ngModel)]="model.telNumber" [disabled]="false" autocomplete="off"/>
                      </div>
                      <p class="my-2"></p>
                      <div class="form-group">
                        <p>Contact Person</p>
                        <input class="form-control" name="contactPerson" id="contactPerson" #contactPerson="ngModel"
                        [(ngModel)]="model.contactPerson" [disabled]="false" autocomplete="off"/>
                      </div>
  
                      <div class="float-left">
                        <button type="submit" class="btn btn-outline-primary" type="submit">
                          <em class="fa fa-pencil fa-fw"></em>Update</button>
                      </div>
                      <div class="float-left">
                        <button class="btn btn-outline-warning" (click)="shownew()">
                          <em class="fa fa-check fa-fw"></em>Cancel</button>
                      </div>
  
                      <!--<div class="float-right">
                        <button class="btn btn-danger" type="button" (click)="delete()">
                          <em class="fas fa-trash-alt fa-fw"></em>Delete</button>
                      </div>-->
  
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-xl-8">
                <div class="col-xl-12">
                  <h4 class="page-header">
                    <small>search, sorting, filter ...</small>
                  </h4>
                  <div class="row">
                    <div class="col-xl-4 col-lg-6">
                      <input class="mb form-control" placeholder="Filter..." type="text"
                        (keyup)="onQuickFilterChanged($event)" />
                    </div>
                  </div>
                  <ag-grid-angular #agGrid [rowData]="rowData1" class="ag-angle" style="width: 100%; height: 400px"
                    [gridOptions]="gridOptions"
                    (rowClicked) = 'onRowClicked($event)'
                    [modules]='modules'
                    (gridReady)="gridReady($event)">
                  </ag-grid-angular>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>