<div class="content-heading">
  <div>
    Demand Letters
    <small>Individual Customer Suspensions</small>
  </div>
</div>
<div class="container-fluid">
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-fade">
        <p style="font-size: 20px; color: white">Processing ...</p>
      </ngx-spinner>
  <div class="row">
    <div id="accordion" class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#collapseOne">
            Demand Letter Configurations
          </a>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-4">
                <div class="card card-primary">
                  <div class="card-body">
                    <form #custsuspensionForm="ngForm" class="form-horizontal" (ngSubmit)="addNew(custsuspensionForm)" *ngIf="new">
                      <fieldset>
                        <div class="form-group row mb">
                          <div class="col-md-12">
                              <label class="mt">Customer Number/ Card account</label>
                              <input />
                            <label class="mt">Select Demand Letter</label>
                            <ngx-select [allowClear]="true" [items]="itemsDemands" [disabled]="disabled"
                              (data)="refreshValue($event)" name="letterid" id="letterid" #letterid="ngModel"
                              [(ngModel)]="model.letterid" placeholder="No demand letter selected"
                              [ngClass]="{ 'is-invalid': letterid.invalid }" required>
                            </ngx-select>
                          </div>
                        </div>
                      </fieldset>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="accordion" class="col-xl-6">
      <div class="col-xl-12">
        <div class="card card-default">
          <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapseDemand1">
              Demand1: Settings
            </a>
          </div>
          <div id="collapseDemand1" class="collapse show" data-parent="#accordion">
            <div class="card-body">
              <form #letterForm="ngForm" class="form-horizontal" (ngSubmit)="onSubmit(letterForm)">
                <p class="lead mt-3"></p>
                <div class="form-group">
                  <p>sms template</p>
                  <textarea class="form-control" rows="3" placeholder="sms message.." name="sms" id="smstemplate" #smstemplate="ngModel"
                    [(ngModel)]="model.smstemplate" [ngClass]="{ 'is-invalid': smstemplate.invalid }" required></textarea>
                </div>
                <fieldset>
                  <div class="form-group row">
                    <label class="col-md-2 col-form-label">Suspend?</label>
                    <p></p>
                    <div class="col-md-10">
                      <label class="checkbox c-checkbox">
                        <input type="checkbox" name="suspendletter" id="suspendletter" #suspendletter="ngModel"
                          [(ngModel)]="model.suspendletter" [checked]="model.suspendletter" />
                        <span class="fa fa-check"></span> Whole Letter</label>
                      <label class="c-checkbox">
                        <input type="checkbox" name="suspendsms" id="suspendsms" #suspendsms="ngModel"
                          [(ngModel)]="model.suspendsms" [checked]="model.suspendsms" />
                        <span class="fa fa-check"></span> SMS</label>
                      <label class="c-checkbox">
                        <input type="checkbox" name="suspendautodelivery" id="suspendautodelivery"
                          #suspendautodelivery="ngModel" [(ngModel)]="model.suspendautodelivery" [checked]="model.suspendautodelivery" />
                        <span class="fa fa-check"></span> Automatic delivery</label>
                    </div>
                    <!--<pre>{{model | json }}</pre>-->
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group row">
                    <label class="col-md-2 col-form-label">Mode of delivery</label>
                    <p></p>
                    <div class="col-md-10">
                      <label class="c-checkbox">
                        <input id="inlineCheckbox10" type="checkbox" name="byemail" id="byemail" #byemail="ngModel"
                          [(ngModel)]="model.byemail" />
                        <span class="fa fa-check"></span>Email</label>
                      <label class="c-checkbox">
                        <input id="inlineCheckbox20" type="checkbox" name="byphysical" id="byphysical" #byphysical="ngModel"
                          [(ngModel)]="model.byphysical" />
                        <span class="fa fa-check"></span>Post</label>
                      <label class="c-checkbox">
                            <input id="inlineCheckbox20" type="checkbox" name="bysms" id="bysms" #bysms="ngModel"
                              [(ngModel)]="model.bysms" />
                            <span class="fa fa-check"></span>SMS</label>
                    </div>
                  </div>
                </fieldset>
                <div class="clearfix">
                  <div class="float-left">
                    <button [disabled]="!letterForm.valid || !letterForm.dirty" class="btn btn-outline-primary"
                      type="submit">
                      <em class="fa fa-check fa-fw"></em>update</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>