<div class="container-fluid">
   <!-- START row-->
   <div class="row">
      <div class="col-xl-12">
         <div class="card card-default">
            <div class="card-header">
               <div class="card-title"> <small></small></div>
            </div>
            <div class="card-wrapper">
               <div class="card-body">
                  <div class="row">
                     <div class="col-md-4">
                        <ng-select [items]="branches" bindLabel="branchname" placeholder="Select Branch"
                           (change)="onChange($event)" [(ngModel)]="selectedBranch">
                        </ng-select>
                     </div>
                     <div class="col-md-4">
                        <ng-select [items]="arocodes" bindLabel="AROCODE" placeholder="Select arocode"
                           [(ngModel)]="selectedarocode">
                        </ng-select>
                     </div>
                     <div class="col-md-4">
                        <ng-select [items]="productcodes" bindLabel="PRODUCTCODE" placeholder="Select Product"
                           [(ngModel)]="selectedproduct">
                        </ng-select>
                     </div>
                  </div>

                  <hr />
                  <!--<iframe src="https://ecollecttst.co-opbank.co.ke:4403/goto/c1984e27ec55535256062a2aec357159" height="800" width="100%" frameborder="0"></iframe>-->
                  <ngx-charts-pie-grid [view]="view" [scheme]="colorScheme" [results]="single"
                     (select)="onSelect($event)">
                  </ngx-charts-pie-grid>

                  <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
                     [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                     [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                     (select)="onSelect($event)">
                  </ngx-charts-bar-vertical>

                  <ngx-charts-gauge [view]="view" [scheme]="colorScheme" [results]="single" [legend]="legend"
                     [legendPosition]="legendPosition" (select)="onSelect($event)">
                  </ngx-charts-gauge>

                  <ngx-charts-advanced-pie-chart [view]="view" [scheme]="colorScheme" [results]="volume" [label]='label'
                     [gradient]="gradient" (select)="onSelect($event)">
                  </ngx-charts-advanced-pie-chart>

               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- END row-->
</div>