
<div class="signupform">
        <div class="container">
            <!-- main content -->
            <!---728x90--->
    
            <div class="agile_info">
                <div class="w3l_form">
                    <div class="left_grid_info">
                        <h1>E-Collect&trade;</h1>
                        <p>Loan management, business-debt management, consumer-debt management, credit card integration and reporting</p>
                        <img src="../../assets/img/coop.jpg" alt="" />
                    </div>
                </div>
    
                <div class="w3_info">
                <!---728x90--->
    
                    <h2></h2>
                    <p>Enter your details to login.</p>
                    <form [formGroup]="valForm" role="form" name="loginForm" novalidate="" (submit)="submitForm($event, valForm.value)">
                        <label>Username</label>
                        <div class="input-group">
                            <span class="fa fa-envelope" aria-hidden="true"></span>
                            <input type="text" placeholder="Enter Your Username" id="username" type="text" name="username" autocomplete="off" formControlName="username" required=""> 
                        </div>
                        <div class="text-danger" *ngIf="valForm.controls['username'].hasError('required') && (valForm.controls['username'].dirty || valForm.controls['username'].touched)">Username is required</div>
                        <label>Password</label>
                        <div class="input-group">
                            <span class="fa fa-lock" aria-hidden="true"></span>
                            <input type="Password" id="password" placeholder="Enter Password" autocomplete="off" formControlName="password" required="">
                        </div> 	
                        <div class="text-danger" *ngIf="valForm.controls['password'].hasError('required') && (valForm.controls['password'].dirty || valForm.controls['password'].touched)">Password is required</div>				
                                <button [disabled]="!valForm.valid" class="btn btn-block btn-primary mt-3" type="submit">Login</button>
                    <div class="form-group text-center">
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div><br>
                    <div *ngIf="error" class="alert alert-danger text-center">{{error}}</div>                
                    </form>
                </div>
            </div>
            <!-- //main content -->
        </div>
        <!---728x90--->
    
        <!-- footer -->
        <div class="footer">
            <p>&copy; 2019 E-Collect. All Rights Reserved | Design by <a href="#" target="blank">Inteligen Infosys Ltd</a></p>
        </div>
        <!-- footer -->
    </div>