<div class="content-heading">
    <div>Pre Listing 
        <small>demand status</small></div>
</div>
<!-- START card-->
<div class="card card-default">
    <div class="card-header">Demand Table #Pre</div>
    <!-- START table-responsive-->
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="table-ext-1">
            <thead>
                <tr>
                    <th>accnumber</th>
                    <th>Customer Name</th>
                    <th>Postal Address</th>
                    <th>Postal Code</th>
                    <th>Email</th>
                    <th>daysinarr</th>
                    <th>
                        status
                    </th>
                    <th>
                        action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>sample name</td>
                    <td>Po box 100</td>
                    <td>00200</td>
                    <td>mail@example.com</td>
                    <td class="text-center">
                        30
                    </td>
                    <td>
                      <span class="badge badge-warning">not sent</span>
                    </td>
                    <td>
                        <form #actionForm="ngForm" (ngSubmit)="onSubmit(actionForm)">
                        <div class="input-group">
                            <select class="custom-select" name="send" id="send" #send="ngModel" [(ngModel)]="model.send">
                                <option value="send-email">Send by email</option>
                                <option value="send-download">Download</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit">Apply</button>
                            </div>
                        </div>
                      </form>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>sample name</td>
                    <td>Po box 100</td>
                    <td>00200</td>
                    <td>mail@example.com</td>
                    <td class="text-center">
                        30
                    </td>
                    <td>
                        <span class="badge badge-warning">not sent</span>
                    </td>
                    <td>
                      <form #actionForm="ngForm" (ngSubmit)="onSubmit(actionForm)">
                        <div class="input-group">
                            <select class="custom-select" name="send2" id="send2" #send2="ngModel" [(ngModel)]="model.send2">
                                <option value="send-email">Send by email</option>
                                <option value="send-download">Download</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit">Apply</button>
                            </div>
                        </div>
                      </form>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>sample name</td>
                    <td>Po box 100</td>
                    <td>00200</td>
                    <td>mail@example.com</td>
                    <td class="text-center">
                        30
                    </td>
                    <td>
                        <span class="badge badge-warning">not sent</span>
                    </td>
                    <td>
                        <form #actionForm="ngForm" (ngSubmit)="onSubmit(actionForm)">
                            <div class="input-group">
                                <select class="custom-select" name="send3" id="send3" #send3="ngModel" [(ngModel)]="model.send3">
                                    <option value="send-email">Send by email</option>
                                    <option value="send-download">Download</option>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="submit">Apply</button>
                                </div>
                            </div>
                          </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- END table-responsive-->
</div>
