<style>
  input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 100%;
  }
  </style>
  
   
  <input type="text" name="search" placeholder="search" (keyup)="quickSearch()" [(ngModel)]="searchValue">
  <button (click)="onBtExport()">Export to 
    CSV</button>
  
    <ag-grid-angular #agGrid class="ag-angle" style="width: 100%; height: 600px;"
    [gridOptions]="gridOptions"
    enableSorting="true"
    enableFilter="true"
    enableColResize="true"
    (gridReady)="gridReady($event)" [columnDefs]="columnDefs" [overlayLoadingTemplate]="overlayLoadingTemplate"
    [overlayNoRowsTemplate]="overlayNoRowsTemplate" (rowClicked)='onRowDoubleClicked($event)'>
  </ag-grid-angular>
         <button (click)="onBtFirst()">To First</button> <button (click)="onBtLast()" id="btLast">To Last</button>
          <button (click)="onBtPrevious()">To Previous</button> <button (click)="onBtNext()">To Next</button>
          <button (click)="onBtPageFive()">To Page 5</button> <button (click)="onBtPageFifty()">To Page 50</button>