<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-circus">
  <p style="font-size: 20px; color: white">Contacts loading...</p>
</ngx-spinner>

<div>
  <h2>Customer contacts</h2>
  <div id="accordion">
    <div class="card">
      <div id="collapseupload" class="collapse show" data-parent="#accordion">
        <div class="card-header">add or edit a contact</div>

        <div class="card-body">
          <div class="row">
            <div class="col-lg-4">
              <form #custcontactsform="ngForm" class="form-horizontal" (ngSubmit)="savecontact(model)"
                autocomplete="off" novalidate>
                <div class="form-group row">
                  <label class="col-xl-4 col-form-label">Contact Number</label>
                  <div class="col-xl-8">
                    <input class="form-control" type="text" name="contactnumber" id="contactnumber"
                      [pattern]="mobNumberPattern" [(ngModel)]="model.contactnumber" #contactnumber="ngModel"
                      [ngClass]="{ 'is-invalid': contactnumber.invalid }" required />
                  </div>
                  <label class="col-xl-5 col-form-label"></label><span style="color:Tomato;"
                    *ngIf="!contactnumber.valid">Please match pattern e.g 0724000000</span>
                </div>
                <div class="form-group row">
                  <label class="col-xl-4 col-form-label">Email</label>
                  <div class="col-xl-8">
                    <input class="form-control" type="text" name="email" id="email" [(ngModel)]="model.email"
                      [pattern]="emailPattern" #email="ngModel" [ngClass]="{ 'is-invalid': email.invalid }" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-xl-4 col-form-label">Contact type</label>
                  <div class="col-xl-8">
                    <select class="form-control" type="text" name="contacttype" id="contacttype"
                      [(ngModel)]="model.contacttype" #contacttype="ngModel"
                      [ngClass]="{ 'is-invalid': contacttype.invalid }" required>
                      <option>Account Holder</option>
                      <option>Guarantor</option>
                      <option>Co-borrower</option>
                      <option>Director</option>
                      <option>Other</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-xl-4 col-form-label">Description (if any)</label>
                  <div class="col-xl-8">
                    <textarea rows="2" id="description" name="description" class="form-control"
                      [(ngModel)]="model.description" #description="ngModel"
                      [ngClass]="{ 'is-invalid': description.invalid }" class="form-control"></textarea>

                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-xl-4 col-form-label">Address (if any)</label>
                  <div class="col-xl-8">
                    <textarea rows="2" id="address" name="address" class="form-control" [(ngModel)]="model.address"
                      #address="ngModel" [ngClass]="{ 'is-invalid': address.invalid }" class="form-control"></textarea>

                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-xl-4 col-form-label">Active</label>
                  <div class="col-xl-8">
                    <select class="form-control" type="text" name="active" id="active" [(ngModel)]="model.active"
                      #active="ngModel" [ngClass]="{ 'is-invalid': active.invalid }" required>
                      <option>Yes</option>
                      <option>No</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-xl-4 col-form-label"></label>
                  <div class="col-xl-8">
                    <button *ngIf="!edit" [disabled]="!custcontactsform.valid"
                      class="mb-1 mr-1 btn btn-sm btn-outline-info  col-form-label" type="submit">Submit</button>
                    <button *ngIf="edit" [disabled]="custcontactsform.invalid"
                      class="mb-1 mr-1 btn btn-sm btn-outline-warning  col-form-label" type="button"
                      (click)="updatecontact(model)">Update</button>
                    <button *ngIf="edit" class="mb-1 mr-1 btn btn-sm btn-outline-danger  col-form-label" type="button"
                      (click)="cancel()">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-lg-8" style="margin-bottom: 40px">
              <table class="table table-hover table-bordered table-striped">
                <thead>
                  <tr>
                    <th>CustNumber</th>
                    <th>ContactNumber</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Contact type </th>
                    <th>Description</th>
                    <th class="text-center">active</th>
                    <th>Added by</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let c of contacts">
                    <td>{{c.custnumber}}</td>
                    <td>{{c.telephone}}</td>
                    <td>{{c.email}}</td>
                    <td>{{c.address}}</td>
                    <td>{{c.contacttype}}</td>
                    <td>{{c.description}}</td>
                    <td>{{c.active}}</td>
                    <td>{{c.owner}}</td>
                    <td class="text-center">
                      <button class="btn btn-outline-success btn-sm" (click)="editcontact(c)">
                        <i class="fas fa-edit"></i> edit
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>