<style>
input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 100%;
}
</style>

 
<input type="text" name="search" placeholder="search" (keyup)="quickSearch()" [(ngModel)]="searchValue">
<button (click)="onBtExport()">Export to 
  CSV</button>

       <ag-grid-angular   #agGrid  class="ag-theme-balham"
       style="width: 100%; height: 660px;"
                          [rowData]="rowData"
                          [columnDefs]="columnDefs"
                          [gridOptions]="gridOptions"
                          [enableSorting]="true"
                          [enableFilter]="true"
                          [floatingFilter]="true"
                          [pagination]="true" 
                          [rowSelection]="selectionMode"
                          
                          [animateRows]="true"
                         
                          (rowSelected)="getSelectedRows($event)">
       
       </ag-grid-angular>