
<div class="content-heading">
    <div>Credit cards
      <small>My allocations</small></div>
  </div>
  <!-- START card-->
  <div class="card card-default">
    <div class="col-xl-12">
      <ag-grid-angular #agGrid (rowClicked)='onRowDoubleClicked($event)' [animateRows]="true" [columnDefs]="columnDefs"
                 [defaultColDef]="defaultColDef"
                 [floatingFilter]="true"
                 [gridOptions]="gridOptions" [modules]="modules" [pagination]="true" [pivotPanelShow]="pivotPanelShow"
                 [rowData]="rowData" [sideBar]="true" class="ag-theme-balham"
                 id="myGrid" style="width: 100%; height: 700px;">

</ag-grid-angular>
    </div>
  </div>
  