

    <ag-grid-angular   #agGrid  class="ag-theme-fresh"
style="width: 100%; height: 660px;"
                   [rowData]="rowData"
                   [columnDefs]="columnDefs"
                   [gridOptions]="gridOptions"
                   [floatingFilter]="true"
                   [enableFilter]="true"
                   [animateRows]="true"
                   (rowSelected)="getSelectedRows($event)">

</ag-grid-angular>



<!-- <ag-grid-angular   #agGrid  class="ag-theme-fresh"
style="width: 100%; height: 660px;"
                   [rowData]="rowData"
                   [columnDefs]="columnDefs"
                   [gridOptions]="gridOptions"
                   [enableFilter]="true"
                   (rowSelected)="getSelectedRows($event)">

</ag-grid-angular> -->