<div class="content-heading">
  <div>ALL Credit cards
    <small></small></div>
</div>
<!-- START card-->
<div class="card card-default">
  <div class="card-header">Credit cards: {{radioModel || 'ALL'}}</div>
  

  <!-- END box placeholder-->
  <jqxGrid #myGrid [theme]="'energyblue'" [width]="'100%'" [source]="dataAdapter" [columns]="columns" [columnsresize]="true"
    [sortable]="true" [pageable]="true" [autoheight]="false" [height]="550" [sortable]="true" [altrows]="true"
    [enabletooltips]="true" [filterable]="true">
  </jqxGrid>
  

</div>
