
<style type="text/css">
a.btn:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 a.btn {
     -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

</style>

   
   
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-fade">
        <p style="font-size: 20px; color: white">Loading more notes ...</p>
    </ngx-spinner>


<!-- START timeline-->
<div class="container-fluid">
        <div class="row example-basic">
<ul *ngFor="let note of noteData" [ngClass]="timelineAlt ? 'timeline-alt' : 'timeline'">
        <li style="color: #00543d !important;"class="timeline-separator" data-datetime="NOTES"></li>
        <!-- START timeline item-->
        <li>
            <div  class="timeline-badge primary">
                <em class="fas fa-users"></em>
               
            </div>
            <div class="timeline-card">
                <div class="popover left">
                    <h4 class="popover-header">{{note.OWNER}} {{note.NOTESRC}}  on Account {{note.ACCNUMBER}}</h4>
                    <div class="arrow"></div>
                    <div class="popover-body">
                        <p> Date:   <b> {{note.NOTEDATE}} </b>
                            <br/>
                            <small>{{note.NOTEMADE}}     <a (click)="editnote(note)" *ngIf="note.showedit" class="mr-1 mb-1 btn-sm btn btn-outline-warning">
                                <span class="far fa-edit" aria-hidden="true"></span>
                                <span><strong>Edit</strong></span>            
                            </a> </small>
                        </p>
                    </div>
                    <div class="arrow"></div>
                </div>
            </div>
        </li>
        <!-- END timeline item-->
        

    </ul>
    <!-- END timeline-->
    </div>
    <button *ngIf="!pager.reachedend" class="mr-1 btn btn-primary btn-xs"
    (click)="loadmore($event)">load more ...</button>
<button *ngIf="pager.reachedend" disabled="" class="mr-1 btn btn-danger btn-xs"> No Notes Available</button>

    </div>
    

   
    
   
    

        
