<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-fade">
  <p style="font-size: 20px; color: white">Loading more notes ...</p>
</ngx-spinner>

<div class="form-group row">
  <label class="col-md-0 col-form-label"></label>
  <div class="form-check form-check-inline">
    <input class="form-check-input" id="inlineRadio1" type="radio" [(ngModel)]="model.noteselector" name="noteselector"
      value="bulk" (click)="handleChange('bulk')" />
    <label class="form-check-label" for="inlineRadio1">Bulk uploaded <span
        class="badge badge-warning float-right">{{bulknotelength}}</span></label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" id="inlineRadio2" type="radio" [(ngModel)]="model.noteselector" name="noteselector"
      value="collector" [checked]='true' (click)="handleChange('collector')" />
    <label class="form-check-label" for="inlineRadio2">Collector made <span
        class="badge badge-success float-right">{{noteslength}}</span></label>
  </div>
</div>

<div *ngIf="isSelected('collector')">
  <!--<ul class="timeline">
    <li class="timeline-event" *ngFor="let note of noteData">
      <label class="timeline-event-icon"></label>
      <div class="timeline-event-copy">
        <p class="timeline-event-thumbnail">{{note.NOTEDATE}}</p>
        <p style="color: blue"><strong>{{note.OWNER}} {{note.NOTESRC}} on Account {{note.ACCNUMBER}}</strong></p>
        <p>
          {{note.NOTEMADE}}
          <small><a (click)="editnote(note)" *ngIf="note.showedit" class="mr-1 mb-1 btn-sm btn btn-outline-success">
              <span class="far fa-edit" aria-hidden="true"></span>
              <span style="color: red;"><strong>Edit</strong></span>
            </a></small>
        </p>
      </div>
    </li>
  </ul>-->
  <ul class="timeline">
    <li *ngFor="let note of noteData | paginate: { itemsPerPage: 5, currentPage: p }">
      <a href="#"><small>{{note.OWNER}} {{note.NOTESRC}} on Account {{note.ACCNUMBER}}</small></a>
      <a href="#" class="float-right">{{note.NOTEDATE}}</a>
      <p>
        {{note.NOTEMADE}}
        <small><a (click)="editnote(note)" *ngIf="note.showedit" class="mr-1 mb-1 btn-sm btn btn-outline-success">
            <span class="far fa-edit" aria-hidden="true"></span>
            <span style="color: red;"><strong>Edit</strong></span>
          </a></small>
      </p>
    </li>
  </ul>
  
  <button *ngIf="!pager.reachedend" class="mr-1 btn btn-primary btn-xs" (click)="loadmore($event)">load more
    notes...</button>
  <button *ngIf="pager.reachedend" disabled="" class="mr-1 btn btn-danger btn-xs"> No Notes Available</button>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<div *ngIf="isSelected('bulk')">
  <!--<ul class="timeline">
    <li class="timeline-event" *ngFor="let note of bulknote | paginate: { itemsPerPage: 3, currentPage: p }">
      <label class="timeline-event-icon"></label>
      <div class="timeline-event-copy">
        <p class="timeline-event-thumbnail">{{note.notedate}}</p>
        <p style="color: blue"><strong>{{note.owner}} {{note.notesrc}} on Account {{note.accnumber}}</strong></p>
        <p>
          {{note.notemade}}
        </p>
      </div>
    </li>
  </ul>-->

  <ul class="timeline">
    <li *ngFor="let note of bulknote | paginate: { itemsPerPage: 3, currentPage: p }">
      <a href="#"><small>{{note.owner}} {{note.notesrc}} on Account {{note.accnumber}}</small></a>
      <a href="#" class="float-right">{{note.notedate}}</a>
      <p>{{note.notemade}}</p>
    </li>
  </ul>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>

</div>