<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-fade">
  <p style="font-size: 20px; color: white">Loading more notes ...</p>
</ngx-spinner>

<div class="form-group row">
  <label class="col-md-0 col-form-label"></label>


  <div class="btn-group">
    <button name="noteselector" value="bulk" (click)="handleChange('bulk')" class="btn-sample btn-outline btn btn-sm">
      Bulk uploaded&nbsp;&nbsp; <span
      class="badge badge-primary float-right">{{bulknotelength}}</span></button>
    &nbsp;&nbsp;
    <button name="noteselector"
            value="collector" (click)="handleChange('collector')" class="btn-sample btn-outline btn btn-sm">Collector
      made&nbsp;&nbsp; <span
        class="badge badge-success float-right">{{noteslength}}</span></button>
    &nbsp;&nbsp;
    <button name="noteselector"
            value="flagged" (click)="handleChange('flagged')" class="btn-sample btn-outline btn btn-sm">Flagged
      important&nbsp;&nbsp; <span
        class="badge badge-success float-right">{{flaggedlength}}</span></button>
    &nbsp;&nbsp;
    <button  name="noteselector"
             value="view" (click)="handleChange('view')"  class="btn-sample btn-outline btn btn-sm">Export/View All Notes&nbsp;&nbsp; <span
      class="badge badge-success float-right">NEW</span></button>
  </div>
</div>

<div class="form-group row">
  <button type="button" (click)="download()" class="btn btn-link btn-outline-info" [disabled]="download_disabled">
    <em class="fa fa-chart-bar fa-fw"></em> Download {{cust}} Notes
  </button>

</div>

<div *ngIf="isSelected('collector')">
  <div class="row" *ngFor="let note of noteData; let i = index"> 
    <div class="col-auto text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
            <span class="badge badge-pill bg-success">&nbsp;</span>
        </h5>
        <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
    </div>
    <div class="col py-2">
        <div class="card border-secondary">
            <div class="card-body">
                <div class="float-right text-info">{{note.NOTEDATE}}</div>
                <h4 class="card-title text-info"><small>{{note.OWNER}} {{note.NOTESRC}} on a/c {{note.ACCNUMBER}}</small></h4>
                <p class="card-text">
                  {{note.NOTEMADE}}
                </p>
                <small><a (click)="editnote(note)" *ngIf="note.showedit" class="mr-1 mb-1 btn-sm btn btn-outline-success">
                  <span class="far fa-edit" aria-hidden="true"></span>
                  <span style="color: red;"><strong>Edit</strong></span>
                </a></small>
                <button class="btn btn-sm btn-outline-secondary" type="button" data-target="#note" data-toggle="collapse">More Details ▼</button>
                <div class="collapse border" id="note">
                    <div class="p-2 text-monospace">
                        <div>Action taken:        null</div>
                        <div>Reason for default:  null</div>
                        <div>Next action date:    null</div>
                        <hr>
                        <div>---</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <!--<ul class="timeline">
    <li *ngFor="let note of noteData">
      <a href="#"><small>{{note.OWNER}} {{note.NOTESRC}} on Account {{note.ACCNUMBER}}</small></a>
      <a href="#" class="float-right">{{note.NOTEDATE}}</a>
      <p>
        {{note.NOTEMADE}}
        <small><a (click)="editnote(note)" *ngIf="note.showedit" class="mr-1 mb-1 btn-sm btn btn-outline-success">
          <span class="far fa-edit" aria-hidden="true"></span>
          <span style="color: red;"><strong>Edit</strong></span>
        </a></small>
      </p>
      <p>Reason for default: {{note.REASON || 'null'}}</p>
    </li>
  </ul>-->

  <button *ngIf="!pager.reachedend" class="mr-1 btn btn-primary btn-xs" (click)="loadmore($event)">load more
    notes...
  </button>
  <button *ngIf="pager.reachedend" disabled="" class="mr-1 btn btn-danger btn-xs"> No Notes Available</button>
  <!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->
</div>

<div *ngIf="isSelected('bulk')">
  <!--<ul class="timeline">
    <li class="timeline-event" *ngFor="let note of bulknote | paginate: { itemsPerPage: 3, currentPage: p }">
      <label class="timeline-event-icon"></label>
      <div class="timeline-event-copy">
        <p class="timeline-event-thumbnail">{{note.notedate}}</p>
        <p style="color: blue"><strong>{{note.owner}} {{note.notesrc}} on Account {{note.accnumber}}</strong></p>
        <p>
          {{note.notemade}}
        </p>
      </div>
    </li>
  </ul>-->

  <ul class="timeline">
    <li *ngFor="let note of bulknote | paginate: { itemsPerPage: 3, currentPage: p }">
      <a href="#"><small>{{note.owner}} {{note.notesrc}} on Account {{note.accnumber}}</small></a>
      <a href="#" class="float-right">{{note.notedate}}</a>
      <p>{{note.notemade}}</p>
    </li>
  </ul>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>

</div>

<div *ngIf="isSelected('flagged')">
  <ul class="timeline">
    <li *ngFor="let note of flaggedNotes | paginate: { itemsPerPage: 3, currentPage: p }">
      <a href="#"><small>{{note.owner}} {{note.notesrc}} on Account {{note.accnumber}}</small></a>
      <a href="#" class="float-right">{{note.notedate}}</a>
      <p>{{note.notemade}}</p>
    </li>
  </ul>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>

</div>

<div *ngIf="isSelected('view')">
  <button (click)="download()" type="button" class="btn btn-labeled btn-warning">
    <span class="btn-label"><i class="fas fa-download"></i></span>Export Excel</button>
  <!--grid-->
  
  <!--  end of grid-->
</div>
