<div class="content-heading">
    <div>Collection officer
        <small>Allocation setup</small></div>
</div>
<div class="container-fluid">
    <ngb-tabset [destroyOnHide]="false">

        <ngb-tab title="Regional Allocation">
            <ng-template ngbTabContent>
                <p>---Allocations by Branch/Region---</p>
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search with Branchcode"
                            (keydown.enter)="search($event.target.value)">
                    </div>
                    <form #editForm="ngForm" class="form-horizontal" (ngSubmit)="updateBranch(editForm.value)">
                        <p class="lead mt-3"></p>
                        <div class="form-group row">
                            <label class="col-xl-4 col-form-label">Branch Code</label>
                            <div class="col-xl-8">
                                <input class="form-control" name="branchcode" id="branchcode" #branchcode="ngModel"
                                    [(ngModel)]="model.branchcode" required autocomplete="off" readonly />
                            </div>
                        </div>

                        <p class="my-2"></p>
                        <div class="form-group row">
                            <label class="col-xl-4 col-form-label">Branch Name</label>
                            <div class="col-xl-8">
                                <input class="form-control" name="branchname" id="branchname" #branchname="ngModel"
                                    [(ngModel)]="model.branchname" autocomplete="off" readonly />
                            </div>
                        </div>
                        <p class="my-2"></p>
                        <div class="form-group row">
                            <label class="col-xl-4 col-form-label">Region</label>
                            <div class="col-xl-8">
                                <select class="form-control" name="region" id="region" #region="ngModel"
                                    [(ngModel)]="model.region">
                                    <option value="">--None--</option>
                                    <option *ngFor="let r of regions; let i = index" [value]="r.region">{{r.region}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <p class="my-2"></p>
                        <div class="form-group row">
                            <label class="col-xl-4 col-form-label">MSME Asset Finance</label>
                            <div class="col-xl-8">
                                <select class="form-control" name="msme_af" id="msme_af" #msme_af="ngModel"
                                    [(ngModel)]="model.msme_af">
                                    <option value="">--None--</option>
                                    <option *ngFor="let u of users; let i = index" [value]="u.username">{{u.username}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <p class="my-2"></p>
                        <div class="form-group row">
                            <label class="col-xl-4 col-form-label">MSME IPF</label>
                            <div class="col-xl-8">
                                <select class="form-control" name="msme_ipf" id="msme_ipf" #msme_ipf="ngModel"
                                    [(ngModel)]="model.msme_ipf">
                                    <option value="">--None--</option>
                                    <option *ngFor="let u of users; let i = index" [value]="u.username">{{u.username}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <p class="my-2"></p>
                        <div class="form-group row">
                            <label class="col-xl-4 col-form-label">MSME SME</label>
                            <div class="col-xl-8">
                                <select class="form-control" name="msme_sme" id="msme_sme" #msme_sme="ngModel"
                                    [(ngModel)]="model.msme_sme">
                                    <option value="">--None--</option>
                                    <option *ngFor="let u of users; let i = index" [value]="u.username">{{u.username}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <p class="my-2"></p>
                        <div class="form-group row">
                            <label class="col-xl-4 col-form-label">MSME Staff</label>
                            <div class="col-xl-8">
                                <select class="form-control" name="msme_staff" id="msme_staff" #msme_staff="ngModel"
                                    [(ngModel)]="model.msme_staff">
                                    <option value="">--None--</option>
                                    <option *ngFor="let u of users; let i = index" [value]="u.username">{{u.username}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <p class="my-2"></p>
                        <div class="form-group row">
                            <label class="col-xl-4 col-form-label">MSME MCU</label>
                            <div class="col-xl-8">
                                <select class="form-control" name="msme_mcu" id="msme_mcu" #msme_mcu="ngModel"
                                    [(ngModel)]="model.msme_mcu">
                                    <option value="">--None--</option>
                                    <option *ngFor="let u of users; let i = index" [value]="u.username">{{u.username}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <p class="my-2"></p>
                        <div class="form-group row">
                            <label class="col-xl-4 col-form-label">MSME Business Banking</label>
                            <div class="col-xl-8">
                                <select class="form-control" name="msme_bb" id="msme_bb" #msme_bb="ngModel"
                                    [(ngModel)]="model.msme_bb">
                                    <option value="">--None--</option>
                                    <option *ngFor="let u of users; let i = index" [value]="u.username">{{u.username}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <p class="my-2"></p>
                        <div class="form-group row">
                            <label class="col-xl-4 col-form-label">MSME SACCO</label>
                            <div class="col-xl-8">
                                <select class="form-control" name="msme_sacco" id="msme_sacco" #msme_sacco="ngModel"
                                    [(ngModel)]="model.msme_sacco">
                                    <option value="">--None--</option>
                                    <option *ngFor="let u of users; let i = index" [value]="u.username">{{u.username}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <p class="my-2"></p>
                        <div class="form-group row">
                            <label class="col-xl-4 col-form-label">MSME Agri Business</label>
                            <div class="col-xl-8">
                                <select class="form-control" name="msme_agrib" id="msme_agrib" #msme_agrib="ngModel"
                                    [(ngModel)]="model.msme_agrib">
                                    <option value="">--None--</option>
                                    <option *ngFor="let u of users; let i = index" [value]="u.username">{{u.username}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <p class="my-2"></p>
                        <div class="form-group row">
                            <label class="col-xl-4 col-form-label">MSME Mortgage</label>
                            <div class="col-xl-8">
                                <select class="form-control" name="msme_mortgage" id="msme_mortgage"
                                    #msme_mortgage="ngModel" [(ngModel)]="model.msme_mortgage">
                                    <option value="">--None--</option>
                                    <option *ngFor="let u of users; let i = index" [value]="u.username">{{u.username}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <p class="my-2"></p>
                        <div class="form-group row">
                            <label class="col-xl-4 col-form-label">MSME Personal</label>
                            <div class="col-xl-8">
                                <select class="form-control" name="msme_personal" id="msme_personal"
                                    #msme_personal="ngModel" [(ngModel)]="model.msme_personal">
                                    <option value="">--None--</option>
                                    <option *ngFor="let u of users; let i = index" [value]="u.username">{{u.username}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <p class="my-2"></p>
                        <div class="form-group row">
                            <label class="col-xl-4 col-form-label"></label>
                            <div class="col-xl-8">
                                <button type="submit" class="btn btn-outline-success" type="submit"
                                    [disabled]="!editForm.valid || !editForm.dirty">
                                    <i class="fas fa-pen-square"></i> Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab>
            <ng-template ngbTabTitle>Employer Allocations</ng-template>
            <ng-template ngbTabContent>
                <p>Allocation By Employer</p>
                <div>
                    <div>
                      <button class="btn btn-outline-success btn-sm" (click)="downloadFile('employer')">
                        <i class="fa fa-download"> Download the template</i>
                      </button>
                    </div>

                    Employer allocation xls file

                    <input #myInput type="file" placeholder="File Name" name="myInput" (change)="onFileChange($event)"
                      accept=".xlsx" />
                    <hr />
                  </div>
                <div class="card-body">
                    <button class="btn btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip"
                        (click)="open(employer)" data-placement="top" title="Add"><i class="fa fa-plus"></i> New
                        employer</button>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search employer"
                            (keydown.enter)="searchEmployer($event.target.value)">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search branch " [(ngModel)]="searchterm">
                    </div>
                    <div style="height: 500px; overflow: auto">
                        <table id="myTable">
                            <tr class="header">
                                <th>ID</th>
                                <th>Deptcode</th>
                                <th>Employer Name</th>
                                <th>Branch code</th>
                                <th>Branch name</th>
                                <th>Collection officer</th>
                                <th></th>
                            </tr>
                            <tr *ngFor="let d of deptcodes | filter:searchterm">
                                <td>{{d.id}}</td>
                                <td>{{d.deptcode}}</td>
                                <td>{{d.employername}}</td>
                                <td>{{d.branchcode}}</td>
                                <td>{{d.branchname}}</td>
                                <td>{{d.colofficer}}</td>
                                <td>
                                    <!-- Call to action buttons -->
                                    <ul class="list-inline m-0">
                                        <li class="list-inline-item">
                                            <button class="btn btn-success btn-sm rounded-0" type="button"
                                                data-toggle="tooltip" (click)="openModal(editDeptcodeModal, d)"
                                                data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab>
            <ng-template ngbTabTitle>Arocode/rrocode allocations</ng-template>
            <ng-template ngbTabContent>
                <p>Allocation By AROCODE/RROCode</p>
                <button class="btn btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip"
                    (click)="open(content)" data-placement="top" title="Add"><i class="fa fa-plus"></i> New
                    Arocode</button>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search arocode/rrocode here "
                        [(ngModel)]="term">
                </div>
                <div style="height: 500px; overflow: auto">
                    <table id="myTable">
                        <tr class="header">
                            <th style="width:50%;">AROCODE/RROCODE</th>
                            <th style="width:40%;">COLOFFICER</th>
                            <th style="width:10%;"></th>
                        </tr>
                        <tr *ngFor="let r of arocodeData | filter:term">
                            <td>{{r.arocode}}</td>
                            <td contenteditable>{{r.colofficer}}</td>
                            <td>
                                <!-- Call to action buttons -->
                                <ul class="list-inline m-0">
                                    <li class="list-inline-item">
                                        <button class="btn btn-success btn-sm rounded-0" type="button"
                                            data-toggle="tooltip" (click)="openModal(editProfileModal, r)"
                                            data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                                    </li>
                                    <li class="list-inline-item">
                                        <button class="btn btn-danger btn-sm rounded-0" type="button"
                                            data-toggle="tooltip" (click)="deletearocode(r)" data-placement="top"
                                            title="Delete"><i class="fa fa-trash"></i></button>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Allocation by a/c" [disabled]="false">
            <ng-template ngbTabContent>
                <p>Allocation per a/c</p>
                <div>
                    <div>
                      <button class="btn btn-outline-success btn-sm" (click)="downloadFile('account')">
                        <i class="fa fa-download"> Download the template</i>
                      </button>
                    </div>

                    Allocation by a/c xls file

                    <input #myInput type="file" placeholder="File Name" name="myInput" (change)="onFileChange($event)"
                      accept=".xlsx" />
                    <hr />
                  </div>
                <div class="form-group row">
                    <input type="text" class="form-control" placeholder="Search a/c"
                        (keydown.enter)="searchbyacc($event.target.value)">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                </div>
                <form #accountForm="ngForm" class="form-horizontal" (ngSubmit)="updateAccount(accountForm.value)">
                    <p class="lead mt-3"></p>
                    <div class="form-group row">
                        <label class="col-xl-4 col-form-label">Memo Group</label>
                        <div class="col-xl-8">
                            <input class="form-control" name="memogroup" id="memogroup" #memogroup="ngModel"
                                [(ngModel)]="model.memogroup" required autocomplete="off" readonly />
                        </div>
                    </div>
                    <p class="lead mt-3"></p>
                    <div class="form-group row">
                        <label class="col-xl-4 col-form-label">Product code</label>
                        <div class="col-xl-8">
                            <input class="form-control" name="productcode" id="productcode" #productcode="ngModel"
                                [(ngModel)]="model.productcode" required autocomplete="off" readonly />
                        </div>

                    </div>

                    <p class="my-2"></p>
                    <div class="form-group row">
                        <label class="col-xl-4 col-form-label">Business unit</label>
                        <div class="col-xl-8">
                            <select class="form-control" name="businessunit" id="businessunit" #businessunit="ngModel"
                                [(ngModel)]="model.businessunit">
                                <option value="">--None--</option>
                                <option>Agri Business</option>
                                <option>Asset Finance</option>
                                <option>BUSINESS BANKING</option>
                                <option>Corporate</option>
                                <option>Current Account</option>
                                <option>Flexi Loan</option>
                                <option>Loan Interest Accounts</option>
                                <option>Loan OD</option>
                                <option>MCU</option>
                                <option>Mortgage</option>
                                <option>Personal Loan</option>
                                <option>SACCO</option>
                                <option>SME</option>
                                <option>Staff</option>
                                <option>Unknown</option>
                            </select>
                        </div>
                    </div>
                    <p class="my-2"></p>
                    <div class="form-group row">
                        <label class="col-xl-4 col-form-label">Remedial Unit</label>
                        <div class="col-xl-8">
                            <select class="form-control" name="remedialunit" id="remedialunit" #remedialunit="ngModel"
                                [(ngModel)]="model.remedialunit">
                                <option value="">--None--</option>
                                <option>Corporate</option>
                                <option>MSME</option>
                                <option>Retail</option>
                            </select>
                        </div>
                    </div>
                    <p class="my-2"></p>
                    <div class="form-group row">
                        <label class="col-xl-4 col-form-label">Collection officer</label>
                        <div class="col-xl-8">
                            <select class="form-control" name="colofficer" id="colofficer" #colofficer="ngModel"
                                [(ngModel)]="model.colofficer">
                                <option value="">--None--</option>
                                <option *ngFor="let r of users; let i = index" [value]="r.username">{{r.username}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <p class="my-2"></p>
                    <div class="form-group row">
                        <label class="col-xl-4 col-form-label"></label>
                        <div class="col-xl-8">
                            <button type="submit" class="btn btn-outline-success" type="submit"
                                [disabled]="!accountForm.valid || !accountForm.dirty">
                                <i class="fas fa-pen-square"></i> Update</button>
                        </div>
                    </div>
                </form>
            </ng-template>

        </ngb-tab>

        <ngb-tab title="Allocation by Memo group" [disabled]="false">
            <ng-template ngbTabContent>
                <p>Allocation per memo group</p>
                <form #memoForm="ngForm" class="form-horizontal" (ngSubmit)="updatememo(memoForm.value)">
                    <p class="lead mt-3"></p>
                    <div class="form-group row">
                        <label class="col-xl-4 col-form-label">Memo Group</label>
                        <div class="col-xl-8">
                            <input class="form-control" name="mmemogroup" id="mmemogroup" #mmemogroup="ngModel"
                                [(ngModel)]="model.mmemogroup" required autocomplete="off" />
                        </div>
                    </div>
                    <p class="my-2"></p>
                    <div class="form-group row">
                        <label class="col-xl-4 col-form-label">Collection officer</label>
                        <div class="col-xl-8">
                            <select class="form-control" name="mcolofficer" id="mcolofficer" #mcolofficer="ngModel"
                                [(ngModel)]="model.mcolofficer">
                                <option value="">--None--</option>
                                <option *ngFor="let r of users; let i = index" [value]="r.username">{{r.username}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <p class="my-2"></p>
                    <div class="form-group row">
                        <label class="col-xl-4 col-form-label"></label>
                        <div class="col-xl-8">
                            <button type="submit" class="btn btn-outline-success" type="submit"
                                [disabled]="!memoForm.valid || !memoForm.dirty">
                                <i class="fas fa-pen-square"></i> Update</button>
                        </div>
                    </div>
                </form>
                <div class="col-xl-12">
                    <div class="row">
                        <div class="col-xl-4 col-lg-6">
                            <input class="mb form-control" placeholder="Search..." type="text"
                                (keyup)="onQuickFilterChanged($event)" />
                        </div>
                    </div>
                    <ag-grid-angular #agGrid [rowData]="rowData1" class="ag-angle"
                        style="width: 100%; height: 600px" [gridOptions]="gridOptions"
                        (rowClicked)='onRowClicked($event)' class="ag-theme-balham" [modules]='modules'
                        (gridReady)="gridReady($event)">
                    </ag-grid-angular>
                </div>
            </ng-template>

        </ngb-tab>

        <ngb-tab title="Staff Allocations" [disabled]="true">
            <ng-template ngbTabContent>
                <p>This is Disabled</p>
            </ng-template>
        </ngb-tab>

    </ngb-tabset>

    <!-- Modal -->
    <ng-template #editDeptcodeModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Update Employer allocation</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form role="form" #updatedeptcodeForm="ngForm" (ngSubmit)="updatedeptcode(updatedeptcodeForm.value)"
                novalidate autocomplete="off">
                <div class="form-group">
                    <label>id</label>
                    <input class="form-control" type="text" placeholder="id" name="id" id="id" #arocode="ngModel"
                        [(ngModel)]="data.id" [disabled]="true" required />
                </div>
                <div class="form-group">
                    <label>Employer Name</label>

                    <input class="form-control" type="text" name="employername" id="employername"
                        #employername="ngModel" [(ngModel)]="data.employername" />
                </div>
                <div class="form-group">
                    <label>Branch Name</label>

                    <input class="form-control" type="text" name="branchname" id="branchname" #branchname="ngModel"
                        [(ngModel)]="data.branchname" />
                </div>
                <div class="form-group">
                    <label>Colofficer</label>

                    <input class="form-control" type="text" name="colofficer" id="colofficer" #colofficer="ngModel"
                        [(ngModel)]="data.colofficer" />
                </div>
                <button type="submit" class="btn btn-outline-dark"
                    [disabled]="!updatedeptcodeForm.valid || butDisabled">Update</button>
            </form>
        </div>
    </ng-template>

    <ng-template #editProfileModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Update arocode</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form role="form" #updatearocodeForm="ngForm" (ngSubmit)="updateArocode(updatearocodeForm.value)" novalidate
                autocomplete="off">
                <div class="form-group">
                    <label>arocode</label>
                    <input class="form-control" type="text" placeholder="arocode" name="arocode" id="arocode"
                        #arocode="ngModel" [(ngModel)]="data.arocode" [ngClass]="{ 'is-invalid': arocode.errors }"
                        [disabled]="true" required />
                </div>
                <div class="form-group">
                    <label>Collection officer</label>

                    <input class="form-control" type="text" name="colofficer" id="colofficer" #colofficer="ngModel"
                        [(ngModel)]="data.colofficer" />
                </div>
                <button type="submit" class="btn btn-outline-dark"
                    [disabled]="!updatearocodeForm.valid || butDisabled">Update</button>
            </form>
        </div>
    </ng-template>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">New arocode</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form role="form" #newarocodeForm="ngForm" (ngSubmit)="newarocode(newarocodeForm.value)" novalidate
                autocomplete="off">
                <div class="form-group">
                    <label>arocode</label>
                    <input class="form-control" type="text" placeholder="arocode" name="arocode" id="arocode"
                        #arocode="ngModel" [(ngModel)]="data.arocode" [ngClass]="{ 'is-invalid': arocode.errors }"
                        required />
                </div>
                <div class="form-group">
                    <label>Collection officer</label>

                    <input class="form-control" type="text" name="colofficer" id="colofficer" #colofficer="ngModel"
                        [(ngModel)]="data.colofficer" />
                </div>
                <button type="submit" class="btn btn-outline-dark"
                    [disabled]="!newarocodeForm.valid || butDisabled">Submit</button>
            </form>
        </div>
    </ng-template>

    <ng-template #employer let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">New Employer</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form role="form" #newemployerForm="ngForm" (ngSubmit)="newemployer(newemployerForm.value)" novalidate
                autocomplete="off">
                <div class="form-group">
                    <label>Deptcode</label>
                    <input class="form-control" type="text" placeholder="deptcode" name="deptcode" id="deptcode"
                        #deptcode="ngModel" [(ngModel)]="data.deptcode" [ngClass]="{ 'is-invalid': deptcode.errors }"
                        required />
                </div>
                <div class="form-group">
                    <label>Employer Name</label>

                    <input class="form-control" type="text" name="employername" id="employername" #employername="ngModel"
                        [(ngModel)]="data.employername" />
                </div>
                <button type="submit" class="btn btn-outline-dark"
                    [disabled]="!newemployerForm.valid || butDisabled">Submit</button>
            </form>
        </div>
    </ng-template>
</div>