<div class="card">
    <div class="card-header">
        <strong>Writeoff Story </strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-5">
                <form #writeoffstoryForm="ngForm" (ngSubmit)="updatefunc(writeoffstoryForm)" novalidate autocomplete="off">
                    
                    <div class="form-group">
                        <label>Message</label>
                        <textarea class="form-control" rows="10" 
                            id="writeoffstoryMessage" name="writeoffstoryMessage" #writeoffstoryMessage="ngModel" [(ngModel)]="data.writeoffstoryMessage"
                            [ngClass]="{ 'is-invalid': writeoffstoryMessage.errors }" required></textarea>

                        
                    </div>
                    <button type="submit" class="btn btn-sm btn-square btn-warning" [disabled]="!writeoffstoryForm.valid">Submit to update</button>
                </form>
            </div>
            <div class="col-md-7" style="min-height: 500; max-height: 750px; overflow-y: scroll;">
                Update Journal
            </div>
        </div>
    </div>
</div>