<div>
  <div class="card">

    <div class="card-header">
      <strong>Collector activity </strong> capture
    </div>
    <form [formGroup]="actionForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
      <div class="card-body">
        <div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            Collector action
          </div>
          <div class="col-md-9">
            <div class="col-md-12">
              <select id="collectoraction" name="collectoraction" formControlName="collectoraction" class="form-control"
                [ngClass]="{ 'is-invalid': f.collectoraction.errors }"
                (ngModelChange)="changeAction(actionForm.value.collectoraction)">
                <option value="">Please select</option>
                <option *ngFor="let action of collectoraction" [value]="action.collectoractionid">
                  {{action.collectoraction}}</option>
              </select>
            </div>
          </div>

        </div>
        <div class="row" *ngIf="repo">
          <div class="col-xl-2 col-md-3">

          </div>
          <div class="col-xl-2 col-md-3">
            <a href="" (click)="repossess()">
              <i class="fas fa-location-arrow"></i> Link to issue repossession order</a>
          </div>
        </div>

        <div class="row" *ngIf="ipf">
          <div class="col-xl-2 col-md-3">

          </div>
          <div class="col-xl-2 col-md-3">
            <a href="" (click)="cancelipf()">
              <i class="fas fa-location-arrow"></i> Link to cancel ipf</a>
          </div>
        </div>

        <div class="row" *ngIf="woff">
          <div class="col-xl-2 col-md-3">

          </div>
          <div class="col-xl-2 col-md-3">
            <a href="" (click)="funcwoff()">
              <i class="fas fa-location-arrow"></i> Link to request writeoff</a>
          </div>
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            Party contacted
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <!--<select id="party" name="party"
                formControlName="party" class="form-control" [ngClass]="{ 'is-invalid': f.party.errors }">
                <option value="">Please select</option>
                <option *ngFor="let p of party" [value]="p.partyid">{{p.party}}</option>
              </select>-->
              <ng-select id="party" name="party" formControlName="party" placeholder="Select party"
                (ngModelChange)="changeParty(actionForm.value)">
                <ng-option *ngFor="let p of party" [value]="p.partyid">{{p.party}}</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col-md-3">
            Reason for default
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <ng-select id="reason" name="reason" formControlName="reason" placeholder="Select reason"
                [ngClass]="{ 'is-invalid': f.reason.errors }" (ngModelChange)="changeReason(actionForm.value.reason)">
                <ng-option *ngFor="let ex of excuse" [value]="ex.excuse">{{ex.excuse}}</ng-option>
              </ng-select>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            Promise to pay
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <ng-select id="ptp" name="ptp" formControlName="ptp" placeholder="Select PTP"
                (ngModelChange)="changePtp(actionForm.value.ptp)">
                <ng-option *ngFor="let p of ptp" [value]="p.id">{{p.name}}</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col-md-3">
            Other reason for default
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <textarea rows="2" id="rfdother" name="rfdother" class="form-control" formControlName="rfdother"
                class="form-control"></textarea>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            Promise type
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-md-0 col-form-label"></label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" id="inlineRadio1" type="radio" formControlName="ptptype"
                    name="ptptype" value="single" (click)="handleChange('single')" />
                  <label class="form-check-label" for="inlineRadio1">Single </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" id="inlineRadio2" type="radio" formControlName="ptptype"
                    name="ptptype" value="multiple" (click)="handleChange('multiple')" />
                  <label class="form-check-label" for="inlineRadio2">Multiple </label>
                </div>
                <div class="form-check form-check-inline" [hidden]="capture">
                  <span><button class="btn btn-link" (click)="multiplecapturefnc()">Capture multiple</button></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            CMD status
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <ng-select id="cmdstatus" name="cmdstatus" formControlName="cmdstatus"
                [ngClass]="{ 'is-invalid': f.cmdstatus.errors }">
                <ng-option *ngFor="let cmd of cmdstatus" [value]="cmd.cmdstatus">{{cmd.cmdstatus}}</ng-option>
              </ng-select>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            Promise amount
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <input type="number" class="form-control" formControlName="ptpamount" class="form-control"
                [ngClass]="{ 'is-invalid': f.ptpamount.errors }">
            </div>
          </div>
          <div class="col-md-3">
            Route for review
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <ng-select id="route" name="route" formControlName="route">
                <ng-option *ngFor="let r of reviewers" [value]="r.username">{{r.firstname}} {{r.lastname}} {{r.surname}}
                </ng-option>
              </ng-select>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            Promise date
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" id="ptpdate" name="ptpdate" name="ptpdate"
                  ngbDatepicker #p="ngbDatepicker" formControlName="ptpdate" [minDate]="minDate" />
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" (click)="p.toggle()" type="button"><span><i
                        class="fa fa-calendar"></i>
                    </span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            Review date
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <div class="input-group">
                <input type="text" placeholder="Review date" class="form-control" formControlName="reviewdate"
                  #dp="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" [minDate]="minxDate">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" (click)="dp.toggle()" type="button"><span><i
                        class="fa fa-calendar"></i>
                    </span></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            Payment mode
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <select id="paymode" name="paymode" class="form-control" formControlName="paymode" class="form-control"
                [ngClass]="{ 'is-invalid': f.paymode.errors }">
                <option value="">Please select</option>
                <option>Cash</option>
                <option>Cheque</option>
                <option>Mobile Transfer</option>
                <option>Bank Transfer</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-md-12">
            <label>Collector note</label>
            <textarea class="form-control" rows="3" id="collectornote" name="collectornote" class="form-control"
              formControlName="collectornote" class="form-control"
              [ngClass]="{ 'is-invalid': f.collectornote.errors }"></textarea>
          </div>
          <p *ngIf="f.collectornote.errors?.minlength">minimum of five(5) characters is required</p>
        </div>
        <div class="form-group row">
          <!--<div class="col-md-3 col-form-label">
            <div class="checkbox c-checkbox form-check-inline">
              <label>
                <input type="checkbox" [checked]="false" name="ptpemail" id="ptpemail" name="ptpemail"
                  formControlName="ptpemail" />
                Send PTP Reminder email <span class="fa fa-check"></span></label>
            </div>
            <div class="">
              <input type="text" name="toemail" id="toemail" name="toemail" class="form-control"
                formControlName="toemail" placeholder="Customer email" />
            </div>
          </div>-->
          <div class="col-md-3 col-form-label">
            <div class="checkbox c-checkbox form-check-inline">
              <label>
                <input type="checkbox" [checked]="false" name="ptpsms" id="ptpsms" name="ptpsms"
                  formControlName="ptpsms" />
                Send PTP Reminder SMS <span class="fa fa-check"></span></label>

            </div>
            <div class="">
              <label>
                <input type="text" name="ptpsmsnumber" id="ptpsmsnumber" name="ptpsmsnumber" class="form-control"
                  formControlName="ptpsmsnumber" placeholder="Customer Tel." />
              </label>
            </div>
          </div>
          <div class="col-md-3 col-form-label">
            <div class="checkbox c-checkbox form-check-inline">
              <label>
                <input type="checkbox" [checked]="false" name="flag" id="flag" name="flag" formControlName="flag" />
                Flag this note <span class="fa fa-check"></span></label>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" [disabled]="actionForm.invalid" class="btn btn-sm btn-primary"><i
            class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="reset" class="btn btn-sm btn-danger" (click)="reset()"><i class="fa fa-ban"></i> Reset</button>
      </div>
    </form>
    <!--<pre>{{actionForm.valid | json}}</pre>
    <pre>{{actionForm.value | json}}</pre>-->
  </div>
</div>

<ngx-smart-modal [dismissable]="false" #myModal identifier="myModal">
  <div class="modal-header">
    <h4 class="modal-title">Mulptiple PTP</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <form #ptpForm="ngForm" (ngSubmit)="ptpfunc(ptpForm)" novalidate autocomplete="off">
          <div class="form-group">
            <label>Promise Amount:</label>
            <input class="form-control" #ptpamount="ngModel" [(ngModel)]="ptpmultiple.ptpamount" name="ptpamount"
              placeholder="ptp amount" [ngClass]="{ 'is-invalid': ptpamount.errors }" required />

          </div>
          <div class="form-group">
            <label>Promise Date:</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" name="ptpdate" [(ngModel)]="ptpmultiple.ptpdate"
                ngbDatepicker #d="ngbDatepicker" [minDate]="minDate" required>
              <div class="input-group-append">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" (click)="d.toggle()" type="button"><span><i
                        class="fa fa-calendar"></i>
                    </span></button>
                </div>
              </div>
            </div>
          </div>
          <button *ngIf="!edit" class="mb-1 mr-1 btn btn-sm btn-outline-warning  col-form-label" type="submit"
            class="btn btn-sm btn-outline-primary" [disabled]="!ptpForm.valid">Add</button>
          <button *ngIf="edit" [disabled]="ptpForm.invalid"
            class="mb-1 mr-1 btn btn-sm btn-outline-warning  col-form-label" type="button"
            (click)="updateptp(ptp)">Update</button>
          <button *ngIf="edit" class="mb-1 mr-1 btn btn-sm btn-outline-danger  col-form-label" type="button"
            (click)="cancel()">Cancel</button>
        </form>
      </div>
      <div class="col-md-8">
        <table class="table">
          <thead>
            <tr>
              <th>accnumber</th>
              <th>ptp amount</th>
              <th>ptp date</th>
              <th>owner</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of ptps | paginate: { itemsPerPage: 5, currentPage: p }">
              <td><strong>{{p.accnumber}}</strong></td>
              <td>{{p.ptpamount}}</td>
              <td>{{p.ptpdate}}</td>
              <td>{{p.owner}}</td>
              <td>
                <button class="btn btn-outline-danger btn-sm" (click)="deleteptp(p)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->
        <button [disabled]="!isptptosave" class="btn btn-block btn-outline-success" (click)="saveallptps()"
          (click)="myModal.close()">Save all Promises</button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-darck" (click)="myModal.close()">Close</button>
  </div>
</ngx-smart-modal>