<div>
  <div class="card">

    <div class="card-header">
      <strong>Collector activity </strong> capture
    </div>
    <form [formGroup]="actionForm" (ngSubmit)="onactivitySubmit()" novalidate autocomplete="off">
      <div class="card-body">
        <div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            Collector action
          </div>
          <div class="col-md-9">
            <div class="col-md-12">
              <select id="collectoraction" name="collectoraction" formControlName="collectoraction" class="form-control"
                [ngClass]="{ 'is-invalid': f.collectoraction.errors }"
                (ngModelChange)="changeAction(actionForm.value.collectoraction)">
                <option value="">Please select</option>
                <option *ngFor="let action of collectoraction" [value]="action.collectoractionid">
                  {{action.collectoraction}}</option>
              </select>
            </div>
          </div>

        </div>
        <div class="row" *ngIf="repo">
          <div class="col-xl-2 col-md-3">
          </div>
          <div class="col-xl-2 col-md-3">
            <a href="" (click)="repossess()">
              <i class="fas fa-location-arrow"></i> Issue repossession order</a>
          </div>
        </div>

        <div class="row" *ngIf="ipf">
          <div class="col-xl-2 col-md-3">

          </div>
          <div class="col-xl-2 col-md-3">
            <a href="" (click)="cancelipf()">
              <i class="fas fa-location-arrow"></i> Link to cancel ipf</a>
          </div>
        </div>

        <div class="row" *ngIf="woff">
          <div class="col-xl-2 col-md-3">

          </div>
          <div class="col-xl-2 col-md-3">
            <a href="" (click)="funcwoff()">
              <i class="fas fa-location-arrow"></i> Link to request writeoff</a>
          </div>
        </div>

        <div class="row" *ngIf="relg">
          <div class="col-xl-2 col-md-3">

          </div>
          <div class="col-xl-2 col-md-3">
            <a href="" (click)="funcrelg()">
              <i class="fas fa-location-arrow"></i> Link to relegate</a>
          </div>
        </div>

        <div class="row" *ngIf="debtcollect">
          <div class="col-xl-2 col-md-3">

          </div>
          <div class="col-xl-2 col-md-3">
            <a href="" (click)="funcdebtcollectors()">
              <i class="fas fa-location-arrow"></i> Send to External Debt Collector</a>
          </div>
        </div>

        <div class="row" *ngIf="investigate">
          <div class="col-xl-2 col-md-3">

          </div>
          <div class="col-xl-2 col-md-3">
            <a href="" (click)="funcinvestigate()">
              <i class="fas fa-location-arrow"></i> Send for Investigation</a>
          </div>
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            Party contacted
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <select id="party" name="party" (ngModelChange)="changeParty(actionForm.value)"
                formControlName="party" class="form-control" [ngClass]="{ 'is-invalid': f.party.errors }">
                <option value="">Please select</option>
                <option *ngFor="let p of party" [value]="p.partyid">{{p.party}}</option>
              </select>
              <!--<ng-select id="party" name="party" formControlName="party" placeholder="Select party"
                (ngModelChange)="changeParty(actionForm.value)">
                <ng-option *ngFor="let p of party" [value]="p.partyid">{{p.party}}</ng-option>
              </ng-select>-->
            </div>
          </div>
          <div class="col-md-2">
            Reason for default*
          </div>
          <div class="col-md-4">
            <div class="col-md-12">
              <select id="reason" name="reason" (ngModelChange)="changeReason(actionForm.value.reason)"
                formControlName="reason" class="form-control" [ngClass]="{ 'is-invalid': f.reason.errors }">
                <option value="">Please select</option>
                <option *ngFor="let ex of excuse" [value]="ex.excuse">{{ex.excuse}}</option>
              </select>
            </div>
          </div> 
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            <div class="checkbox c-checkbox form-check-inline">
              <label>
                Request for restructure <input type="checkbox" [checked]="false" name="restructure" id="restructure" 
                  name="restructure" formControlName="restructure" 
                  (ngModelChange)="restructure(actionForm.value.restructure)" />
                <span class="fa fa-check"></span></label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <input type="number" id="restructureamount" name="restructureamount" formControlName="restructureamount" placeholder="Enter Restructure amount" class="form-control" />
              
                <div class="input-group">
                  <input type="text" placeholder="Restructure date" class="form-control" formControlName="restructuredate"
                    #dp1="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" [minDate]="minxDate">
                  <div class="input-group-append">
                    <button class="btn btn-outline-primary" (click)="dp1.toggle()" type="button"><span><i
                          class="fa fa-calendar"></i>
                      </span></button>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            Reason for default details
          </div>
          <div class="col-md-4">
            <div class="col-md-12">
              <!--<textarea rows="2" id="rfdother" name="rfdother" class="form-control" formControlName="rfdother"
                class="form-control"></textarea>-->

              <select id="excusedetails" name="excusedetails" 
                formControlName="excusedetails" class="form-control" [ngClass]="{ 'is-invalid': f.excusedetails.errors }">
                <option value="">Please select</option>
                <option *ngFor="let e of excusedetails" [value]="e.excusedetails">{{e.excusedetails}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            Next Review Date
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <div class="input-group">
                <input type="text" placeholder="Review date" class="form-control" formControlName="reviewdate"
                  #dp="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" [minDate]="minxDate">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" (click)="dp.toggle()" type="button"><span><i
                        class="fa fa-calendar"></i>
                    </span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            Ability to pay
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <ng-select id="abilitytopay" name="abilitytopay" formControlName="abilitytopay" placeholder="Select ability to pay">
                <ng-option value="Unknown">Unknown</ng-option>
                <ng-option value="Able and willing">Able and willing</ng-option>
                <ng-option value="Unable and willing">Unable and willing</ng-option>
                <ng-option value="Unwilling and able">Unwilling and able</ng-option>
                <ng-option value="Unwilling and unable">Unwilling and unable</ng-option>
              </ng-select>
            </div>
          </div>
          
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            Promised to Pay?
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <ng-select id="ptp" name="ptp" formControlName="ptp" placeholder="Select PTP"
                (ngModelChange)="changePtp(actionForm.value.ptp)">
                <ng-option *ngFor="let p of ptp" [value]="p.id">{{p.name}}</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col-md-3">
            CMD status
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <ng-select id="cmdstatus" name="cmdstatus" formControlName="cmdstatus"
                [ngClass]="{ 'is-invalid': f.cmdstatus.errors }">
                <ng-option *ngFor="let cmd of cmdstatus" [value]="cmd.cmdstatus">{{cmd.cmdstatus}}</ng-option>
              </ng-select>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-md-3"></div>
          <div class="col-md-3" [hidden]="capture">
          </div>

        </div>
        <!--<div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            Promise amount
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <input type="number" class="form-control" formControlName="ptpamount" class="form-control"
                [ngClass]="{ 'is-invalid': f.ptpamount.errors }">
            </div>
          </div>
          <div class="col-md-3">
            xxxx
          </div>
          <div class="col-md-3">
            
          </div>
        </div>-->

        <!--<div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            Promise date
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" id="ptpdate" name="ptpdate" name="ptpdate"
                  ngbDatepicker #p="ngbDatepicker" formControlName="ptpdate" [minDate]="minDate" />
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" (click)="p.toggle()" type="button"><span><i
                        class="fa fa-calendar"></i>
                    </span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            xxx
          </div>
          <div class="col-md-3">
            <div class="col-md-12">

            </div>
          </div>
        </div>-->



        <div class="row" style="padding-top: 20px" [hidden]="capture">
          <table class="table table-striped table-hover">
            <span><button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalLong"><i
                  class="fas fa-plus"></i> Add Payment Plan</button></span>
            <thead class="thead-dark">
              <tr>
                <th>Account Number</th>
                <th>Promised amount</th>
                <th>Promise date</th>
                <th>Payment Mode</th>
                <th>Collection Officer</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of ptps | paginate: { itemsPerPage: 5, currentPage: p }">
                <td><strong>{{p.accnumber}}</strong></td>
                <td>{{p.ptpamount}}</td>
                <td>{{p.ptpdate}}</td>
                <td>{{p.paymode}}</td>
                <td>{{p.owner}}</td>
                <td>
                  <button class="btn btn-outline-danger btn-sm" (click)="deleteptp(p)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          
        </div>
        <div class="form-group row" style="padding-top: 20px" [hidden]="ptpcaptured">
          <label class="col-xl-3">
            <input type="checkbox" [checked]="true" name="ptpsms" id="ptpsms" name="ptpsms"
            formControlName="ptpsms" />
            Send PTP SMS Reminder </label>
          <div class="col-xl-3">
            <input type="text" name="ptpsmsnumber" id="ptpsmsnumber" name="ptpsmsnumber" class="form-control"
              formControlName="ptpsmsnumber" placeholder="Customer Tel." />
          </div>

        </div>
        <div class="form-group row" [hidden]="ptpcaptured">
          <label class="col-xl-3">
            <input type="checkbox" [checked]="false" name="toemail" id="toemail" name="toemail"
              formControlName="toemail" />
            Send PTP Email Reminder </label>
          <div class="col-xl-3">
            <input type="text" name="toemailaddress" id="toemailaddress" name="toemailaddress" class="form-control"
              formControlName="toemailaddress" placeholder="Email Address" />
          </div>

        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-md-12">
            <label>Collector note</label>
            <textarea class="form-control" rows="3" id="collectornote" name="collectornote" formControlName="collectornote"
              [ngClass]="{ 'is-invalid': f.collectornote.errors }"></textarea>
          </div>
          <p *ngIf="f.collectornote.errors?.minlength">minimum of five(5) characters is required</p>
        </div>
        <div class="form-group row">

          <div class="col-md-3 col-form-label">
            <div class="checkbox c-checkbox form-check-inline">
              <label>
                <input type="checkbox" [checked]="false" name="flag" id="flag" name="flag" formControlName="flag" />
                Flag this note <span class="fa fa-check"></span></label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 col-form-label">
            <div class="checkbox c-checkbox form-check-inline">
              <label>
                <input type="checkbox" [checked]="false" name="flag" id="flag" name="flag" formControlName="flag" />
                <span class="fa fa-check"></span> Schedule Call back reminder</label>
            </div>
          </div>
          <div class="col-md-3">
            <input type="text" name="callbacktime" id="callbacktime" name="callbacktime" class="form-control"
              formControlName="callbacktime" />

              
          </div>

        </div>

      </div>
      <div class="card-footer">
        <button type="submit" [disabled]="actionForm.invalid" class="btn btn-sm btn-primary"><i
            class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="reset" class="btn btn-sm btn-danger" (click)="reset()"><i class="fa fa-ban"></i> Reset</button>
      </div>
    </form>
    <!--<pre>{{actionForm.valid | json}}</pre>
    <pre>{{actionForm.value | json}}</pre>-->
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Payment Plan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card card-default">
          <div class="card-body">
            <div class="row">
              <form #ptpForm="ngForm" class="form-horizontal" (ngSubmit)="ptpfunc(ptpForm)" novalidate
                autocomplete="off">
                <div class="form-group row">
                  <label class="col-xl-6 col-form-label">Promise Amount:</label>
                  <div class="col-xl-6">
                    <input class="form-control" #ptpamount="ngModel" [(ngModel)]="ptp_m.ptpamount" name="ptpamount"
                      type="number" [ngClass]="{ 'is-invalid': ptpamount.errors }" required />
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-xl-6 col-form-label">Promise Date:</label>
                  <div class="col-xl-6">
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd" name="ptpdate" [(ngModel)]="ptp_m.ptpdate"
                        ngbDatepicker #d="ngbDatepicker" required>
                      <div class="input-group-append">
                        <div class="input-group-append">
                          <button class="btn btn-outline-primary" (click)="d.toggle()" type="button"><span><i
                                class="fa fa-calendar"></i>
                            </span></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-xl-6 col-form-label">Payment Mode</label>
                  <div class="col-xl-6">
                    <select class="custom-select custom-select-sm" #paymode="ngModel" [(ngModel)]="model.paymode"
                      name="paymode" [ngClass]="{ 'is-invalid': paymode.errors }" required>
                      <option value="">Please select</option>
                      <option>Cash</option>
                      <option>Cheque</option>
                      <option>Mobile Transfer</option>
                      <option>Bank Transfer</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-xl-6 col-form-label"></label>
                  <div class="col-xl-6">
                    <button *ngIf="!edit" class="mb-1 mr-1 btn btn-outline-success  col-form-label" type="submit"
                      [disabled]="!ptpForm.valid">Add <i class="fas fa-plus"></i></button>
                  </div>
                </div>


              </form>
            </div>
            <div class="row">
              <table class="table">
                <thead>
                  <tr>
                    <th>accnumber</th>
                    <th>ptp amount</th>
                    <th>ptp date</th>
                    <th>paymode</th>
                    <th>owner</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of ptps | paginate: { itemsPerPage: 5, currentPage: p }">
                    <td><strong>{{p.accnumber}}</strong></td>
                    <td>{{p.ptpamount}}</td>
                    <td>{{p.ptpdate}}</td>
                    <td>{{p.paymode}}</td>
                    <td>{{p.owner}}</td>
                    <td>
                      <button class="btn btn-outline-danger btn-sm" (click)="deleteptp(p)">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <button [disabled]="!isptptosave" class="btn btn-block btn-outline-success"
                data-dismiss="modal">Proceed</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>