<div class="content-heading">
    <div>
        Remedial unit & business unit
        <small>Allocation setup using memogroup</small>
    </div>
</div>
<div class="container-fluid">
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-fade">
        <p style="font-size: 20px; color: white">Processing ...</p>
    </ngx-spinner>
    <div id="accordion">
        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                    Memo Groups
                </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="card card-primary">
                                <div class="card-body">
                                    <form #memogroupForm="ngForm" class="form-horizontal"
                                        (ngSubmit)="Submit(memogroupForm)" *ngIf="new">
                                        <div class="form-group">
                                            <p>MemoGroup</p>
                                            <input class="form-control" name="memogroup" id="memogroup"
                                                #memogroup="ngModel" [(ngModel)]="model.memogroup" [disabled]="false"
                                                required autocomplete="off" />
                                        </div>

                                        <p class="my-2"></p>
                                        <div class="form-group">
                                            <p>Product Code</p>
                                            <input class="form-control" name="productcode" id="productcode"
                                                #productcode="ngModel" [(ngModel)]="model.productcode"
                                                [disabled]="false" autocomplete="off" />
                                        </div>
                                        <p class="my-2"></p>
                                        <div class="form-group">
                                            <p>Business Unit</p>
                                            <input class="form-control" name="businessunit" id="businessunit"
                                                #businessunit="ngModel" [(ngModel)]="model.businessunit"
                                                [disabled]="false" autocomplete="off" />
                                        </div>
                                        <p class="my-2"></p>
                                        <div class="form-group">
                                            <p>Remedial Unit</p>

                                            <select class="form-control" name="remedialunit" id="remedialunit"
                                                #remedialunit="ngModel" [(ngModel)]="model.remedialunit">
                                                <option value="">none</option>
                                                <option>Corporate</option>
                                                <option>MSME</option>
                                                <option>Retail</option>
                                                <option>DIGITAL</option>
                                            </select>
                                        </div>
                                        <p class="my-2"></p>
                                        <div class="form-group">
                                            <p>Shared</p>
                                            <select class="form-control" name="vshared" id="vshared" #vshared="ngModel"
                                                [(ngModel)]="model.vshared" (change)='onSharedSelected(vshared.value)'>
                                                <option>n</option>
                                                <option>y</option>
                                            </select>
                                        </div>
                                        <p class="my-2"></p>
                                        <div class="form-group">
                                            <p>Additional Criteria</p>
                                            <select class="form-control" name="additionalcriteria"
                                                id="additionalcriteria" #additionalcriteria="ngModel"
                                                [(ngModel)]="model.additionalcriteria"
                                                [disabled]="additionalcriteriatrue"
                                                (change)='additionalcriteriaSelected(additionalcriteria.value)'>
                                                <option>none</option>
                                                <option>corpflag</option>
                                                <option>facility amount</option>
                                            </select>
                                        </div>
                                        <p class="my-2"></p>
                                        <div class="form-group">
                                            <p>Corp flag</p>
                                            <input class="form-control" name="coopflag" id="coopflag"
                                                #coopflag="ngModel" [(ngModel)]="model.coopflag"
                                                [disabled]="coopflagtrue" autocomplete="off" />
                                            <ngx-select (data)="value" [multiple]="true" [items]="corpflags" name="coopflag" id="coopflag"
                                                #coopflag="ngModel" [(ngModel)]="model.coopflag" [disabled]="disabled"
                                                (data)="refreshValue($event)" placeholder="No Corpflag selected">
                                            </ngx-select>
                                        </div>
                                        <p class="my-2"></p>
                                        <div class="form-group">
                                            <p>Total Facility (Amount)</p>

                                            <input type="number" class="form-control" name="facilityamount"
                                                id="facilityamount" #facilityamount="ngModel"
                                                [(ngModel)]="model.facilityamount" [disabled]="facilityamounttrue"
                                                autocomplete="off" />
                                        </div>
                                        <p class="my-2"></p>
                                        <div class="form-group">
                                            <p>Primary Remedial Unit</p>
                                            <select class="form-control" name="primaryremedialunit"
                                                id="primaryremedialunit" #primaryremedialunit="ngModel"
                                                [(ngModel)]="model.primaryremedialunit"
                                                [disabled]="primaryremedialunittrue" autocomplete="off">
                                                <option value="">none</option>
                                                <option>Corporate</option>
                                                <option>MSME</option>
                                                <option>Retail</option>
                                                <option>DIGITAL</option>
                                            </select>
                                        </div>
                                        <p class="lead mt-3"></p>
                                        <div>
                                            <div class="clearfix">
                                                <div class="float-left">
                                                    <button [disabled]="!memogroupForm.valid || !memogroupForm.dirty"
                                                        class="btn btn-outline-primary" type="submit">
                                                        <em class="fa fa-check fa-fw"></em>Add New</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <form #editForm="ngForm" class="form-horizontal" (ngSubmit)="editSubmit(editForm)"
                                        *ngIf="!new">
                                        <p class="lead mt-3"></p>
                                        <div class="form-group">
                                            <p>MemoGroup</p>
                                            <input class="form-control" name="memogroup" id="memogroup"
                                                #memogroup="ngModel" [(ngModel)]="model.memogroup" [disabled]="false"
                                                required autocomplete="off" />
                                        </div>

                                        <p class="my-2"></p>
                                        <div class="form-group">
                                            <p>Product Code</p>
                                            <input class="form-control" name="productcode" id="productcode"
                                                #productcode="ngModel" [(ngModel)]="model.productcode"
                                                [disabled]="false" autocomplete="off" />
                                        </div>
                                        <p class="my-2"></p>
                                        <div class="form-group">
                                            <p>Business Unit</p>
                                            <input class="form-control" name="businessunit" id="businessunit"
                                                #businessunit="ngModel" [(ngModel)]="model.businessunit"
                                                [disabled]="false" autocomplete="off" />
                                        </div>
                                        <p class="my-2"></p>
                                        <div class="form-group">
                                            <p>Remedial Unit</p>
                                            <input class="form-control" name="remedialunit" id="remedialunit"
                                                #remedialunit="ngModel" [(ngModel)]="model.remedialunit"
                                                [disabled]="false" autocomplete="off" />
                                        </div>

                                        <p class="my-2"></p>
                                        <div class="form-group">
                                            <p>Shared</p>
                                            <select class="form-control" name="vshared" id="vshared" #vshared="ngModel"
                                                [(ngModel)]="model.vshared" (change)='onSharedSelected(vshared.value)'>
                                                <option>n</option>
                                                <option>y</option>
                                            </select>
                                        </div>
                                        <p class="my-2"></p>
                                        <div class="form-group">
                                            <p>Additional Criteria</p>
                                            <select class="form-control" name="additionalcriteria"
                                                id="additionalcriteria" #additionalcriteria="ngModel"
                                                [(ngModel)]="model.additionalcriteria"
                                                [disabled]="additionalcriteriatrue"
                                                (change)='additionalcriteriaSelected(additionalcriteria.value)'>
                                                <option>none</option>
                                                <option>coopflag</option>
                                                <option>facility amount</option>
                                            </select>
                                        </div>
                                        <p class="my-2"></p>
                                        <div class="form-group">
                                            <p>Coop flag</p>
                                            <input class="form-control" name="coopflag" id="coopflag"
                                                #coopflag="ngModel" [(ngModel)]="model.coopflag"
                                                [disabled]="coopflagtrue" autocomplete="off" />
                                        </div>
                                        <p class="my-2"></p>
                                        <div class="form-group">
                                            <p>Total Facility (Amount)</p>

                                            <input type="number" class="form-control" name="facilityamount"
                                                id="facilityamount" #facilityamount="ngModel"
                                                [(ngModel)]="model.facilityamount" [disabled]="facilityamounttrue"
                                                autocomplete="off" />
                                        </div>
                                        <p class="my-2"></p>
                                        <div class="form-group">
                                            <p>Primary Remedial Unit</p>
                                            <input class="form-control" name="primaryremedialunit"
                                                id="primaryremedialunit" #primaryremedialunit="ngModel"
                                                [(ngModel)]="model.primaryremedialunit"
                                                [disabled]="primaryremedialunittrue" autocomplete="off" />
                                        </div>
                                        <p class="my-2"></p>
                                        <div class="float-left">
                                            <button type="submit" class="btn btn-outline-primary" type="submit">
                                                <em class="fa fa-pencil fa-fw"></em>Update</button>
                                        </div>
                                        <div class="float-left">
                                            <button class="btn btn-outline-warning" (click)="shownew()">
                                                <em class="fa fa-check fa-fw"></em>Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            <div class="col-xl-12">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-6">
                                        <input class="mb form-control" placeholder="Search..." type="text"
                                            (keyup)="onQuickFilterChanged($event)" />
                                    </div>
                                </div>
                                <ag-grid-angular #agGrid [rowData]="rowData1" class="ag-angle"
                                    style="width: 100%; height: 600px" [gridOptions]="gridOptions"
                                    (rowClicked)='onRowClicked($event)' class="ag-theme-balham" [modules]='modules'
                                    (gridReady)="gridReady($event)">
                                </ag-grid-angular>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>