<div class="content-heading">Account information</div>
<form class="card">
    <tabset [justified]="true" class="ie-fix-flex">
        <tab>
            <ng-template tabHeading>Account info</ng-template>
            <div>
                <fieldset>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Accnumber:</label>
                        <div class="col-lg-10">
                            <strong>987654</strong>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Oustbalance:</label>
                        <div class="col-lg-10">
                            <strong>987654</strong>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Totalarrears:</label>
                        <div class="col-lg-10">
                            <strong>987654</strong>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Bucket:</label>
                        <div class="col-lg-10">
                            <strong>987654</strong>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Arocode :</label>
                        <div class="col-lg-10">
                            <strong>987654</strong>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">Branchname :</label>
                        <div class="col-lg-10">
                            <strong>987654</strong>
                        </div>
                    </div>
                </fieldset>
            </div>
        </tab>
        <tab>
            <ng-template tabHeading>PTPs</ng-template>
            <div>
                <div class="card-header">Promises made and status</div>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Product ID</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Tax</th>
                                <th class="text-center">Status</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="">Product #123</a>
                                </td>
                                <td>$ 100.00</td>
                                <td>5</td>
                                <td>21%</td>
                                <td class="text-center">
                                    <span class="badge badge-success">In Stock</span>
                                </td>
                                <td>$ 605.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </tab>
        <tab>
            <ng-template tabHeading>Other accounts</ng-template>
            <div>
                <div class="card-header">Customer accounts</div>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Product ID</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Tax</th>
                                <th class="text-center">Status</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="">Product #123</a>
                                </td>
                                <td>$ 100.00</td>
                                <td>5</td>
                                <td>21%</td>
                                <td class="text-center">
                                    <span class="badge badge-success">In Stock</span>
                                </td>
                                <td>$ 605.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </tab>
        <tab>
            <ng-template tabHeading>Collateral info</ng-template>
            <div>
                <div class="card-header">Collateral list</div>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Product ID</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Tax</th>
                                <th class="text-center">Status</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="">Product #123</a>
                                </td>
                                <td>$ 100.00</td>
                                <td>5</td>
                                <td>21%</td>
                                <td class="text-center">
                                    <span class="badge badge-success">In Stock</span>
                                </td>
                                <td>$ 605.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </tab>
        <tab>
            <ng-template tabHeading>Directors</ng-template>
            <div>
                <!-- Checkout Process-->
            <form action="" method="post" novalidate="novalidate">
                    <accordion [closeOthers]="true" class="card-group">
                        <!-- Checkout Method-->
                        <accordion-group #stepgroup1 [isOpen]="step1" panelClass="b mb-2">
                            <div accordion-heading><strong>Name: </strong></div>
                            <div id="collapse01">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <p>
                                            <strong>address: </strong>
                                        </p>
                                        <p class="mb-0">tel:</p>
                                        <p>mobile:</p>
                                        <hr/>
                                    </div>
                                    <div class="col-lg-6">
                                        account list
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </form>
            </div>
        </tab>
        <tab>
            <ng-template tabHeading>Credit cards</ng-template>
            <div>
                <div class="card-header">Customer credit cards</div>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Product ID</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Tax</th>
                                <th class="text-center">Status</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="">Product #123</a>
                                </td>
                                <td>$ 100.00</td>
                                <td>5</td>
                                <td>21%</td>
                                <td class="text-center">
                                    <span class="badge badge-success">In Stock</span>
                                </td>
                                <td>$ 605.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </tab>
        <tab>
            <ng-template tabHeading>With same idnumber</ng-template>
            <div>
                <div class="card-header">Accounts on the same nationID</div>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Product ID</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Tax</th>
                                <th class="text-center">Status</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="">Product #123</a>
                                </td>
                                <td>$ 100.00</td>
                                <td>5</td>
                                <td>21%</td>
                                <td class="text-center">
                                    <span class="badge badge-success">In Stock</span>
                                </td>
                                <td>$ 605.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </tab>
        <tab>
            <ng-template tabHeading>CRB Balances</ng-template>
            <div>
                crb balances
            </div>
        </tab>
    </tabset>
</form>