<div class="container" style="background-color: aliceblue;">
    <div>
        <h1>IPF Cancellation</h1>
        <hr />
        <form #ipfcancelForm="ngForm" (ngSubmit)="cancelipf(ipfcancelForm)" novalidate autocomplete="off">
            <div class="card-header">
                <strong>Account Details</strong>
            </div>
            <div class="row" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Customer Name
                </div>
                <div class="col-md-9">
                        <input class="form-control" id="custname" name="custname" #custname="ngModel"
                            [(ngModel)]="model.custname" [ngClass]="{ 'is-invalid': custname.errors }" required />
                </div>
            </div>

            <div class="row" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Account Number
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="accnumber" name="accnumber" #accnumber="ngModel"
                            [(ngModel)]="model.accnumber" [ngClass]="{ 'is-invalid': accnumber.errors }" required />
                    </div>
                </div>
                <div class="col-md-3">
                    Customer Number
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="custnumber" name="custnumber" #custnumber="ngModel"
                            [(ngModel)]="model.custnumber" [ngClass]="{ 'is-invalid': custnumber.errors }" required />
                    </div>
                </div>
            </div>


            <div class="row" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Policy Number
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="policynumber" name="policynumber" #policynumber="ngModel"
                            [(ngModel)]="model.policynumber" [ngClass]="{ 'is-invalid': policynumber.errors }"
                            required />
                    </div>
                </div>
                <div class="col-md-3">
                    Email Address
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="emailaddress" name="emailaddress" #emailaddress="ngModel"
                            [(ngModel)]="model.emailaddress" />
                    </div>
                </div>
            </div>


            <div class="row" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Phone Number
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="celnumber" name="celnumber" #celnumber="ngModel"
                            [(ngModel)]="model.celnumber" />
                    </div>
                </div>
                <div class="col-md-3">
                    Product Name
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="productname" name="productname" #productname="ngModel"
                            [(ngModel)]="model.productname" />
                    </div>
                </div>
            </div>


            <div class="row" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Policy Amount
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input type="number" class="form-control" id="policyamount" name="policyamount"
                            #policyamount="ngModel" [(ngModel)]="model.policyamount"
                            [ngClass]="{ 'is-invalid': policyamount.errors }" required />
                    </div>
                </div>
                <div class="col-md-3">
                    Amount in Arrears
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input type="number" class="form-control" id="arrearsamount" name="arrearsamount"
                            #arrearsamount="ngModel" [(ngModel)]="model.arrearsamount"
                            [ngClass]="{ 'is-invalid': arrearsamount.errors }" required />
                    </div>
                </div>
            </div>




            <div class="row" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Days in Arrears
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="daysinarr" name="daysinarr" #daysinarr="ngModel"
                            [(ngModel)]="model.daysinarr" [ngClass]="{ 'is-invalid': daysinarr.errors }"
                            required />
                    </div>
                </div>
                <div class="col-md-3">
                    BranchName
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="branchname" name="branchname" #branchname="ngModel"
                            [(ngModel)]="model.branchname" />
                    </div>
                </div>
            </div>



            <div class="form-group row m-b-15" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    With Asset Finance
                </div>
                <div class="col-md-9">
                    <div class="radio radio-css radio-inline" id="yes">
                        <input [(ngModel)]="model.waf" class="form-check-input" id="inlineRadio3" name="inlineRadio3"
                            type="radio" value="yes" />
                        <label class="form-check-label" for="inlineRadio3">Yes</label>
                    </div>
                    <div class="radio radio-css radio-inline" id="no">
                        <input [(ngModel)]="model.waf" class="form-check-input" id="inlineRadio4" name="inlineRadio4"
                            type="radio" value="no" />
                        <label class="form-check-label" for="inlineRadio4">No</label>
                    </div>
                    <!--                      <div *ngIf="celnumber.valid || emailaddress.valid" class="valid-feedback"></div>-->
                </div>
            </div>




            <div class="form-group row m-b-15" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Cancel IPF
                </div>
                <div class="col-md-9">
                    <div class="radio radio-css radio-inline" id="cyes">
                        <input [(ngModel)]="model.cancelipf" class="form-check-input" id="inlineRadio5"
                            name="inlineRadio5" type="radio" value="cyes" />
                        <label class="form-check-label" for="inlineRadio5">Yes</label>
                    </div>
                    <div class="radio radio-css radio-inline" id="cno">
                        <input [(ngModel)]="model.cancelipf" class="form-check-input" id="inlineRadio6"
                            name="inlineRadio6" type="radio" value="cno" />
                        <label class="form-check-label" for="inlineRadio6">No</label>
                    </div>
                    <!--                      <div *ngIf="celnumber.valid || emailaddress.valid" class="valid-feedback"></div>-->
                </div>
            </div>



            <div class="card-header">
                <strong>IPF Cancellation Details </strong>
                <!--      <button (click)="CollectoractionSteps()" class="btn btn-primary">SHOW ME STEPS</button>-->
            </div>

            <div class="row" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Date Cancellation Issued
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input #dci="bsDatepicker" [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" [minDate]="minxDate"
                            bsDatepicker class="form-control" id="dci" name="dci" placeholder="Date Issued"
                            placement="top" type="text" />
                    </div>
                </div>
                <div class="col-md-3">
                    Issued By
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="issuedby" name="issuedby" #issuedby="ngModel"
                            [(ngModel)]="model.issuedby" [ngClass]="{ 'is-invalid': issuedby.errors }"
                            required />
                    </div>
                </div>
            </div>



            <div class="row" style="padding-top: 20px">

                
                <div class="col-xl-2 col-md-3">
                    Policy Start Date (DD-MMM-YYYY)
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="psd" placeholder="Loan Start Date" placement="top" type="text"
                            name="psd" #psd="ngModel" [(ngModel)]="model.psd"
                            [ngClass]="{ 'is-invalid': psd.errors }" required />
                    </div>
                </div>
                <div class="col-md-3">
                    Tel Number
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="telnumber" name="telnumber" #telnumber="ngModel"
                            [(ngModel)]="model.telnumber" [ngClass]="{ 'is-invalid': telnumber.errors }"
                            required />
                    </div>
                </div>
            </div>


            <div class="row" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Insurance Company
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="insuranceco" name="insuranceco" #insuranceco="ngModel"
                            [(ngModel)]="model.insuranceco" [ngClass]="{ 'is-invalid': insuranceco.errors }"
                            required />
                    </div>
                </div>
                <div class="col-md-3">
                    Insurance Email
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="insuemail" name="insuemail" #insuemail="ngModel"
                            [(ngModel)]="model.insuemail" [ngClass]="{ 'is-invalid': insuemail.errors }"
                            required />
                    </div>
                </div>
            </div>




            <div class="row" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Broker
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="broker" name="broker" #broker="ngModel"
                            [(ngModel)]="model.broker" [ngClass]="{ 'is-invalid': broker.errors }"
                            required />
                    </div>
                </div>
                <div class="col-md-3">
                    Insurance Address
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="insuaddress" name="insuaddress" #insuaddress="ngModel"
                            [(ngModel)]="model.insuaddress" [ngClass]="{ 'is-invalid': insuaddress.errors }"
                            required />
                    </div>
                </div>
            </div>



            <div class="row" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Loan Start Date (DD-MMM-YYYY)
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="lsd" placeholder="Loan Start Date" placement="top" type="text"
                            name="lsd" #lsd="ngModel" [(ngModel)]="model.lsd"
                            [ngClass]="{ 'is-invalid': lsd.errors }" required />
                    </div>
                </div>
                <div class="col-md-3">
                    Policy EndDate
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="ped" placeholder="Policy End Date" placement="top" type="text"
                            name="ped" #ped="ngModel" [(ngModel)]="model.ped"
                            [ngClass]="{ 'is-invalid': ped.errors }" required />
                    </div>
                </div>
            </div>

            <hr />

            <button class="btn btn-sm btn-primary" id="buttonCalculate" type="button" (click)="buttonCalculate()">
                Calculate refund
            </button>

            <div class="row" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Days Utilized
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input type="number" class="form-control" id="daysutilized" name="daysutilized"
                            #daysutilized="ngModel" [(ngModel)]="model.daysutilized"
                            [ngClass]="{ 'is-invalid': daysutilized.errors }" required />
                    </div>
                </div>
                <div class="col-md-3">
                    Days Unutilized
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input type="number" class="form-control" id="daysunutilized" name="daysunutilized"
                            #daysunutilized="ngModel" [(ngModel)]="model.daysunutilized"
                            [ngClass]="{ 'is-invalid': daysunutilized.errors }" required />
                    </div>
                </div>
            </div>


            <div class="row" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Refund Amount
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="refundamount" name="refundamount"
                            #refundamount="ngModel" [(ngModel)]="model.refundamount"
                            [ngClass]="{ 'is-invalid': refundamount.errors }" required />
                    </div>
                </div>

            </div>


            <div class="row" style="padding-top: 20px">
                <div class="col-md-12">
                    <label>Cancellation Comments</label>
                    <label for="cancellationcomm"></label>
                    <textarea class="form-control is-valid" id="cancellationcomm"
                        name="cancellationcomm" rows="3" id="cancellationcomm" name="cancellationcomm" #cancellationcomm="ngModel"
                        [(ngModel)]="model.cancellationcomm" [ngClass]="{ 'is-invalid': cancellationcomm.errors }"
                        required></textarea>
                </div>
                <!--    <p *ngIf="f.collectornote.errors?.minlength" class="text-danger">-->
                <!--      minimum of five(5) characters is required-->
                <!--    </p>-->
            </div>


            <div class="row" style="padding-top: 20px">

                <div class="col-md-3">
                    <div class="col-md-12">
                        <button class="btn btn-sm btn-primary" id="previewcanceletter" type="button" (click)="previewbtn()">
                            Preview Cancellation Letter
                        </button>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="col-md-12">
                        <button class="btn btn-sm btn-primary" id="submitletter" type="submit" [disabled]="!ipfcancelForm.valid" >
                            Submit
                        </button>
                    </div>
                </div>
            </div>
            <div class="p-3 text-center">
                <span>&copy;</span>
                <span>{{ settings.getAppSetting('year') }}</span>
                <span class="mx-2">-</span>
                <span>{{ settings.getAppSetting('name') }}</span>
                <br />
                <span>{{ settings.getAppSetting('description') }}</span>
            </div>
        </form>
    </div>
</div>