<div class="container" style="background-color: aliceblue;">
    <div>
        <h1>IPF Cancellation</h1>
        <hr />
        <form #ipfcancelForm="ngForm" (ngSubmit)="cancelipf(ipfcancelForm)" novalidate autocomplete="off">
            <div class="card-header">
                <strong>Account Details</strong>
            </div>
            <div class="row" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Customer Name
                </div>
                <div class="col-md-9">
                        <input type="text" class="form-control" id="CLIENTNAME" name="CLIENTNAME" #CLIENTNAME="ngModel"
                            [(ngModel)]="model.CLIENTNAME" [ngClass]="{ 'is-invalid': CLIENTNAME.errors }" disabled required/>
                </div>
            </div>

            <div class="row" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Account Number
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="ACCNUMBER" name="ACCNUMBER" #ACCNUMBER="ngModel"
                            [(ngModel)]="model.ACCNUMBER" [ngClass]="{ 'is-invalid': ACCNUMBER.errors }" disabled required />
                    </div>
                </div>
                <div class="col-md-3">
                    Customer Number
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="CUSTNUMBER" name="CUSTNUMBER" #CUSTNUMBER="ngModel"
                            [(ngModel)]="model.CUSTNUMBER" [ngClass]="{ 'is-invalid': CUSTNUMBER.errors }" disabled required />
                    </div>
                </div>
            </div>


            <div class="row" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Policy Number
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="POLICYNUMBER" name="POLICYNUMBER" #POLICYNUMBER="ngModel"
                            [(ngModel)]="model.POLICYNUMBER" [ngClass]="{ 'is-invalid': POLICYNUMBER.errors }"
                            required />
                    </div>
                </div>
                <div class="col-md-3">
                    Email Address
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="EMAILADDRESS" name="EMAILADDRESS" #EMAILADDRESS="ngModel"
                            [(ngModel)]="model.EMAILADDRESS" />
                    </div>
                </div>
            </div>


            <div class="row" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Phone Number
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="TELNUMBER" name="TELNUMBER" #TELNUMBER="ngModel"
                            [(ngModel)]="model.TELNUMBER" />
                    </div>
                </div>
                <div class="col-md-3">
                    Product Name
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="PRODUCTCODE" name="PRODUCTCODE" #PRODUCTCODE="ngModel" disabled
                            [(ngModel)]="model.PRODUCTCODE" />
                    </div>
                </div>
            </div>


            <div class="row" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Policy Amount
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input type="number" class="form-control" id="POLICYAMOUNT" name="POLICYAMOUNT"
                            #POLICYAMOUNT="ngModel" [(ngModel)]="model.POLICYAMOUNT"
                            [ngClass]="{ 'is-invalid': POLICYAMOUNT.errors }" required />
                    </div>
                </div>
                <div class="col-md-3">
                    Amount in Arrears
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input type="number" class="form-control" id="TOTALARREARS" name="TOTALARREARS"
                            #TOTALARREARS="ngModel" [(ngModel)]="model.TOTALARREARS"
                            [ngClass]="{ 'is-invalid': TOTALARREARS.errors }" required />
                    </div>
                </div>
            </div>




            <div class="row" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Days in Arrears
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="DAYSINARR" name="DAYSINARR" #DAYSINARR="ngModel" disabled
                            [(ngModel)]="model.DAYSINARR" [ngClass]="{ 'is-invalid': DAYSINARR.errors }"
                            required />
                    </div>
                </div>
                <div class="col-md-3">
                    Branch Name
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="BRANCHNAME" name="BRANCHNAME" #BRANCHNAME="ngModel" disabled
                            [(ngModel)]="model.BRANCHNAME" />
                    </div>
                </div>
            </div>



            <div class="form-group row m-b-15" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    With Asset Finance
                </div>
                <div class="col-md-9">
                    <div class="radio radio-css radio-inline" id="yes">
                        <input [(ngModel)]="model.waf" class="form-check-input" id="inlineRadio3" name="inlineRadio3"
                            type="radio" value="yes" />
                        <label class="form-check-label" for="inlineRadio3">Yes</label>
                    </div>
                    <div class="radio radio-css radio-inline" id="no">
                        <input [(ngModel)]="model.waf" class="form-check-input" id="inlineRadio4" name="inlineRadio4"
                            type="radio" value="no" />
                        <label class="form-check-label" for="inlineRadio4">No</label>
                    </div>
                    <!--                      <div *ngIf="celnumber.valid || emailaddress.valid" class="valid-feedback"></div>-->
                </div>
            </div>




            <div class="form-group row m-b-15" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Cancel IPF
                </div>
                <div class="col-md-9">
                    <div class="radio radio-css radio-inline" id="cyes">
                        <input [(ngModel)]="model.cancelipf" class="form-check-input" id="inlineRadio5"
                            name="inlineRadio5" type="radio" value="cyes" />
                        <label class="form-check-label" for="inlineRadio5">Yes</label>
                    </div>
                    <div class="radio radio-css radio-inline" id="cno">
                        <input [(ngModel)]="model.cancelipf" class="form-check-input" id="inlineRadio6"
                            name="inlineRadio6" type="radio" value="cno" />
                        <label class="form-check-label" for="inlineRadio6">No</label>
                    </div>
                    <!--                      <div *ngIf="celnumber.valid || emailaddress.valid" class="valid-feedback"></div>-->
                </div>
            </div>



            <div class="card-header">
                <strong>IPF Cancellation Details </strong>
                <!--      <button (click)="CollectoractionSteps()" class="btn btn-primary">SHOW ME STEPS</button>-->
            </div>

            <div class="row" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Date Cancellation Issued
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input #dci="bsDatepicker" [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }" 
                            bsDatepicker class="form-control" id="dci" name="dci" placeholder="Date Issued"
                            [(ngModel)]="model.dci" placement="top" type="text" />
                    </div>
                </div>
                <div class="col-md-3">
                    Issued By
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="issuedby" name="issuedby" #issuedby="ngModel" disabled
                            [(ngModel)]="model.issuedby" [ngClass]="{ 'is-invalid': issuedby.errors }"
                            required />
                    </div>
                </div>
            </div>



            <div class="row" style="padding-top: 20px">

                
                <div class="col-xl-2 col-md-3">
                    Policy Start Date (DD-MMM-YYYY)
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="POLICYSTARTDATE" placeholder="Loan Start Date" placement="top" type="text"
                            name="POLICYSTARTDATE" #POLICYSTARTDATE="ngModel" [(ngModel)]="model.POLICYSTARTDATE"
                            [ngClass]="{ 'is-invalid': POLICYSTARTDATE.errors }" required />
                    </div>
                </div>
                <div class="col-md-3">
                    Tel Number
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="CELNUMBER" name="CELNUMBER" #CELNUMBER="ngModel"
                            [(ngModel)]="model.CELNUMBER" [ngClass]="{ 'is-invalid': CELNUMBER.errors }"
                            required />
                    </div>
                </div>
            </div>


            <div class="row" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Insurance Company
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="INSURANCECO" name="INSURANCECO" #INSURANCECO="ngModel"
                            [(ngModel)]="model.INSURANCECO" [ngClass]="{ 'is-invalid': INSURANCECO.errors }"
                            required />
                    </div>
                </div>
                <div class="col-md-3">
                    Insurance Email
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="INSURANCEEMAIL" name="INSURANCEEMAIL" #INSURANCEEMAIL="ngModel"
                            [(ngModel)]="model.INSURANCEEMAIL" [ngClass]="{ 'is-invalid': INSURANCEEMAIL.errors }"
                            required />
                    </div>
                </div>
            </div>




            <div class="row" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Broker
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="BROKER" name="BROKER" #BROKER="ngModel"
                            [(ngModel)]="model.BROKER" [ngClass]="{ 'is-invalid': BROKER.errors }"
                            required />
                    </div>
                </div>
                <div class="col-md-3">
                    Insurance Address
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="INSURANCEADDRESS" name="INSURANCEADDRESS" #INSURANCEADDRESS="ngModel"
                            [(ngModel)]="model.INSURANCEADDRESS" [ngClass]="{ 'is-invalid': INSURANCEADDRESS.errors }"
                            required />
                    </div>
                </div>
            </div>



            <div class="row" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Loan Start Date (DD-MMM-YYYY)
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="LOANSTARTDATE" placeholder="Loan Start Date" placement="top" type="text"
                            name="LOANSTARTDATE" #LOANSTARTDATE="ngModel" [(ngModel)]="model.LOANSTARTDATE"
                            [ngClass]="{ 'is-invalid': LOANSTARTDATE.errors }" required />
                    </div>
                </div>
                <div class="col-md-3">
                    Policy End Date (DD-MMM-YYYY)
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input class="form-control" id="POLICYENDDATE" placeholder="Policy End Date" placement="top" type="text"
                            name="POLICYENDDATE" #POLICYENDDATE="ngModel" [(ngModel)]="model.POLICYENDDATE"
                            [ngClass]="{ 'is-invalid': POLICYENDDATE.errors }" required />
                    </div>
                </div>
            </div>

            <hr />

            <button class="btn btn-sm btn-primary" id="buttonCalculate" type="button" (click)="buttonCalculate()">
                Calculate refund
            </button>

            <div class="row" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Days Utilized
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input type="number" class="form-control" id="daysutilized" name="daysutilized" disabled
                            #daysutilized="ngModel" [(ngModel)]="model.daysutilized"
                            [ngClass]="{ 'is-invalid': daysutilized.errors }" required />
                    </div>
                </div>
                <div class="col-md-3">
                    Days Unutilized
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input type="number" class="form-control" id="daysunutilized" name="daysunutilized" disabled
                            #daysunutilized="ngModel" [(ngModel)]="model.daysunutilized"
                            [ngClass]="{ 'is-invalid': daysunutilized.errors }" required />
                    </div>
                </div>
            </div>


            <div class="row" style="padding-top: 20px">
                <div class="col-xl-2 col-md-3">
                    Refund Amount
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="refundamount" name="refundamount" disabled
                            #refundamount="ngModel" [(ngModel)]="model.refundamount"
                            [ngClass]="{ 'is-invalid': refundamount.errors }" required />
                    </div>
                </div>

            </div>


            <div class="row" style="padding-top: 20px">
                <div class="col-md-12">
                    <label>Cancellation Comments</label>
                    <label for="cancellationcomm"></label>
                    <textarea class="form-control is-valid" id="cancellationcomm"
                        name="cancellationcomm" rows="3" id="cancellationcomm" name="cancellationcomm" #cancellationcomm="ngModel"
                        [(ngModel)]="model.cancellationcomm" [ngClass]="{ 'is-invalid': cancellationcomm.errors }"
                        required></textarea>
                </div>
            </div>


            <div class="row" style="padding-top: 20px">

                <div class="col-md-3">
                    <div class="col-md-12">
                        <button class="btn btn-sm btn-primary" id="previewcanceletter" type="button" [disabled]="!ipfcancelForm.valid" (click)="previewbtn()">
                            Preview Cancellation Letter
                        </button>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="col-md-12">
                        <button class="btn btn-sm btn-primary" id="submitletter" type="submit" [disabled]="!ipfcancelForm.valid" >
                            Submit
                        </button>
                    </div>
                </div>
            </div>
            <div class="p-3 text-center">
                <span>&copy;</span>
                <span>{{ settings.getAppSetting('year') }}</span>
                <span class="mx-2">-</span>
                <span>{{ settings.getAppSetting('name') }}</span>
                <br />
                <span>{{ settings.getAppSetting('description') }}</span>
            </div>
        </form>
    </div>
</div>