<div class="content-heading">
  <div>
    Letters
    <small>Demand letters configurations</small>
  </div>
</div>
<div class="container-fluid">
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-fade">
        <p style="font-size: 20px; color: white">Processing ...</p>
      </ngx-spinner>
  <div class="row">
    <div id="accordion" class="col-xl-6">
      <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#collapseOne">
            Demand Letter Configurations
          </a>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-12">
                <div class="card card-primary">
                  <div class="card-body">
                    <fieldset>
                      <div class="form-check mb-2 mr-sm-2">
                        <div class="form-check">
                          <input class="form-check-input" id="demand1" type="radio" (click)="setradio('demand1')" [checked]='true' ngModel
                            name="format" value="demand1" />
                          <label class="form-check-label" for="demand1">Demand 1</label>
                        </div>
                      </div>
                    </fieldset>
                    <fieldset>
                      <div class="form-check mb-2 mr-sm-2">
                        <div class="form-check">
                          <input class="form-check-input" id="demand2" type="radio" (click)="setradio('demand2')" [checked]='false' ngModel
                            name="format" value="demand2" />
                          <label class="form-check-label" for="demand2">Demand 2</label>
                        </div>
                      </div>
                    </fieldset>
                    <fieldset>
                      <div class="form-check mb-2 mr-sm-2">
                        <div class="form-check">
                          <input class="form-check-input" id="prelisting" type="radio" (click)="setradio('prelisting')" [checked]='false' ngModel
                            name="format" value="prelisting" />
                          <label class="form-check-label" for="prelisting">Pre Listing</label>
                        </div>
                      </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-check mb-2 mr-sm-2">
                          <div class="form-check">
                            <input class="form-check-input" id="overdue" type="radio" (click)="setradio('overdue')" [checked]='false' ngModel
                              name="format" value="overdue" />
                            <label class="form-check-label" for="overdue">Overdue cc</label>
                          </div>
                        </div>
                      </fieldset>
                      <fieldset>
                        <div class="form-check mb-2 mr-sm-2">
                          <div class="form-check">
                            <input class="form-check-input" id="prelistingcc" type="radio" (click)="setradio('prelistingcc')" [checked]='false' ngModel
                              name="format" value="prelistingcc" />
                            <label class="form-check-label" for="prelistingcc">Prelisting cc</label>
                          </div>
                        </div>
                      </fieldset>
                      <fieldset>
                        <div class="form-check mb-2 mr-sm-2">
                          <div class="form-check">
                            <input class="form-check-input" id="suspension" type="radio" [(ngModel)]="model.format"
                              name="format" value="suspension" />
                            <label class="form-check-label" for="suspension">Suspension cc</label>
                          </div>
                        </div>
                      </fieldset>
                      <fieldset>
                          <div class="form-check mb-2 mr-sm-2">
                            <div class="form-check">
                              <input class="form-check-input" id="PrelistingRemedial" type="radio" [(ngModel)]="model.format"
                                name="format" value="PrelistingRemedial" />
                              <label class="form-check-label" for="PrelistingRemedial">Prelisting Remedial (ex-Staff)</label>
                            </div>
                          </div>
                        </fieldset>
                      <fieldset>
                          <div class="form-check mb-2 mr-sm-2">
                            <div class="form-check">
                              <input class="form-check-input" id="PostlistingSecured" type="radio" [(ngModel)]="model.format"
                                name="format" value="PostlistingSecured" />
                              <label class="form-check-label" for="PostlistingSecured">Postlisting Secured</label>
                            </div>
                          </div>
                        </fieldset>
                        <fieldset>
                          <div class="form-check mb-2 mr-sm-2">
                            <div class="form-check">
                              <input class="form-check-input" id="PostlistingunSecuredcc" type="radio" [(ngModel)]="model.format"
                                name="format" value="PostlistingunSecuredcc" />
                              <label class="form-check-label" for="PostlistingunSecuredcc">Postlisting Un-Secured cc</label>
                            </div>
                          </div>
                        </fieldset>
                        <fieldset>
                          <div class="form-check mb-2 mr-sm-2">
                            <div class="form-check">
                              <input class="form-check-input" id="PostlistingUnsecured" type="radio" [(ngModel)]="model.format"
                                name="format" value="PostlistingUnsecured" />
                              <label class="form-check-label" for="PostlistingUnsecured">Postlisting Unsecured</label>
                            </div>
                          </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-check mb-2 mr-sm-2">
                              <div class="form-check">
                                <input class="form-check-input" id="Day90" type="radio" [(ngModel)]="model.format"
                                  name="format" value="Day90" />
                                <label class="form-check-label" for="Day90">90 Day</label>
                              </div>
                            </div>
                          </fieldset>
                          <fieldset>
                            <div class="form-check mb-2 mr-sm-2">
                              <div class="form-check">
                                <input class="form-check-input" id="Day40" type="radio" [(ngModel)]="model.format"
                                  name="format" value="Day40" />
                                <label class="form-check-label" for="Day40">40 Day</label>
                              </div>
                            </div>
                          </fieldset>
                          <fieldset>
                            <div class="form-check mb-2 mr-sm-2">
                              <div class="form-check">
                                <input class="form-check-input" id="Day30" type="radio" [(ngModel)]="model.format"
                                  name="format" value="Day30" />
                                <label class="form-check-label" for="Day30">30 Day</label>
                              </div>
                            </div>
                          </fieldset>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#collapseThree">
            Demand Letter global settings (Footer, directors, and logo)
          </a>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <form #globalForm="ngForm" class="form-horizontal" (ngSubmit)="globalSubmit(globalForm)" autocomplete="off">

              <div class="form-group">
                <p>Letter Footer</p>
                <textarea class="form-control" rows="4" name="footer" id="footer" #footer="ngModel"
                  [(ngModel)]="global.footer" required></textarea>
              </div>

              <p class="lead mt-3"></p>
              <div class="form-group">
                <p>Bank Directors</p>
                <textarea class="form-control" rows="3" name="directors" id="directors" #directors="ngModel"
                  [(ngModel)]="global.directors" required></textarea>
              </div>

              <fieldset>
                <div class="clearfix">
                  <div class="float-left">
                    <button [disabled]="!globalForm.valid || !globalForm.dirty" class="btn btn-primary" type="submit">
                      <em class="fa fa-check fa-fw"></em>Submit</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="accordion" class="col-xl-6">
      <div class="col-xl-12">
        <div class="card card-default">
          <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapseDemand1">
              Demand1: Settings
            </a>
          </div>
          <div id="collapseDemand1" class="collapse show" data-parent="#accordion">
            <div class="card-body">
              <form #letterForm="ngForm" class="form-horizontal" (ngSubmit)="onSubmit(letterForm)">
                <p class="lead mt-3"></p>
                <div class="form-group">
                  <p>sms template</p>
                  <textarea class="form-control" rows="3" placeholder="sms message.." name="sms" id="smstemplate" #smstemplate="ngModel"
                    [(ngModel)]="model.smstemplate" [ngClass]="{ 'is-invalid': smstemplate.invalid }" required></textarea>
                </div>
                <fieldset>

                </fieldset>
                <fieldset>
                  <div class="form-group row">
                    <label class="col-md-2 col-form-label">Suspend?</label>
                    <p></p>
                    <div class="col-md-10">
                      <label class="checkbox c-checkbox">
                        <input type="checkbox" name="suspendletter" id="suspendletter" #suspendletter="ngModel"
                          [(ngModel)]="model.suspendletter" [checked]="model.suspendletter=='true'" />
                        <span class="fa fa-check"></span> Whole Letter</label>
                      <label class="c-checkbox">
                        <input type="checkbox" name="suspendsms" id="suspendsms" #suspendsms="ngModel"
                          [(ngModel)]="model.suspendsms" [checked]="model.suspendsms==='true'" />
                        <span class="fa fa-check"></span> SMS</label>
                      <label class="c-checkbox">
                        <input type="checkbox" name="suspendautodelivery" id="suspendautodelivery"
                          #suspendautodelivery="ngModel" [(ngModel)]="model.suspendautodelivery" [checked]="model.suspendautodelivery==='true'" />
                        <span class="fa fa-check"></span> Automatic delivery</label>
                    </div>
                    <pre>{{model | json }}</pre>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group row">
                    <label class="col-md-2 col-form-label">Mode of delivery</label>
                    <p></p>
                    <div class="col-md-10">
                      <label class="c-checkbox">
                        <input id="inlineCheckbox10" type="checkbox" name="byemail" id="byemail" #byemail="ngModel"
                          [(ngModel)]="model.byemail" />
                        <span class="fa fa-check"></span>Email</label>
                      <label class="c-checkbox">
                        <input id="inlineCheckbox20" type="checkbox" name="byphysical" id="byphysical" #byphysical="ngModel"
                          [(ngModel)]="model.byphysical" />
                        <span class="fa fa-check"></span>Post</label>
                      <label class="c-checkbox">
                            <input id="inlineCheckbox20" type="checkbox" name="bysms" id="bysms" #bysms="ngModel"
                              [(ngModel)]="model.bysms" />
                            <span class="fa fa-check"></span>SMS</label>
                    </div>
                  </div>
                </fieldset>
                <div class="clearfix">
                  <div class="float-left">
                    <button [disabled]="!letterForm.valid || !letterForm.dirty" class="btn btn-outline-primary"
                      type="submit">
                      <em class="fa fa-check fa-fw"></em>update</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>