<div class="content-heading">
    <div>Documentations
        <small></small></div>
</div>
<div class="container-fluid">
    <div class="col-4 col-xl-12">
        <!-- Categories-->
        <div class="card card-default">
            <div class="card-header">Documents & Manuals</div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li>
                        <a href="" (click)="open('admin_manual.pdf','E-Collect Admin Manual')">
                            <em class="fa fa-file fa-fw"></em>Admin manual</a>
                    </li>
                    <li>
                        <a href="" (click)="open('datadictionary', 'Data dictionary')">
                            <em class="fas fa-download fa-fw"></em>Data dictionary</a>
                    </li>
                    <li>
                        <a href="" (click)="open('userguide', 'User guide')">
                            <em class="fas fa-file-download fa-fw"></em>User guide</a>
                    </li>
                    <li>
                        <a href="" (click)="open('Collection_scripts.pdf','Collection call plan scripts')">
                            <em class="fas fa-file-download fa-fw"></em> Collection call plan scripts</a>
                    </li>
                    <li>
                        <a href="" (click)="open('customer_visits.pdf','Collection customer visit')">
                            <em class="fa fa-file fa-fw"></em> Collection customer visit</a>
                    </li>
                    <li>
                        <a href="" (click)="open('decision_tree.pdf','Decision tree')">
                            <em class="fas fa-download fa-fw"></em> Decision tree</a>
                    </li>
                    <li>
                        <a href="" (click)="open('account_plans.pdf','Account plans')">
                            <em class="fas fa-file-download fa-fw"></em> Account plans</a>
                    </li>
                    <li>
                        <a href="" (click)="open('loan_process_flow.pdf','Loan process flow Collections Process Flow-MSME')">
                            <em class="fas fa-file-download fa-fw"></em> Loan process flow Collections Process Flow-MSME</a>
                    </li>
                    <li>
                        <a href="" (click)="open('pbo_handover_guideline.pdf','PBO handover guideline')">
                            <em class="fa fa-file fa-fw"></em> PBO handover guideline</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>