<div class="content-heading">
  <div>Work List
    <small>view my worklist</small></div>
</div>
<!-- START card-->
<div class="card card-default">
  <div class="col-xl-12">

    <ag-grid-angular #agGrid id="myGrid" class="ag-theme-balham" style="width: 100%; height: 700px;"
      [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [paginationAutoPageSize]="true"
      [gridOptions]="gridOptions" [pagination]="true" [floatingFilter]="true"
      [rowData]="rowData" [modules]="modules" [pivotPanelShow]="pivotPanelShow" [sideBar]="true" [animateRows]="true"
      (rowClicked)='onRowDoubleClicked($event)'>

    </ag-grid-angular>
  </div>
</div>