<div class="content-heading">
    <div>
      Letters
      <small>Demand letters automation</small>
    </div>
  </div>
  <div class="container-fluid">
    <div id="accordion">
      <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#collapseOne">
            Demand Letter Automation
          </a>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-6">
                <div class="card card-primary">
                  <div class="card-body">
                    <form #settingsForm="ngForm" class="form-horizontal" (ngSubmit)="onSubmit(settingsForm)">
                      <p class="my-2">Type</p>
                      <!--<ngx-select (data)="valueCategory" [multiple]="false" [items]="itemsCategories" ></ngx-select>
                                              <span><button class="btn btn-small btn-primary" type="button"><em class="fa fa-sync fa-fw"></em> Letter details</button></span>-->
                      <div class="input-group">
                        <select class="form-control" name="letterid" id="letterid" #letterid="ngModel" [(ngModel)]="model.letterid"
                          [ngClass]="{ 'is-invalid': letterid.invalid }" required>
                          <option value="">Nothing</option>
                          <option *ngFor="let demand of itemsDemands">{{demand}}</option>
                        </select>
                      </div>
                      <p class="my-2"></p>
  
                      <div class="form-group">
                        <p>Day in arrears when the letter will be sent (Between 0 and 120)</p>
                        <input class="form-control" type="number" name="daysinarr" id="daysinarr" #daysinarr="ngModel"
                          [(ngModel)]="model.daysinarr" [ngClass]="{ 'is-invalid': daysinarr.invalid }" min="1" required />
                        <!--<div *ngIf="daysinarr.errors.min">Minimum required is 0</div>
                            <div *ngIf="daysinarr.errors.max">Maximum required is 120</div>-->
                      </div>
  
                      <p class="lead mt-3"></p>
                      <div class="form-group">
                        <p>Send only to - memo</p>
                        <textarea class="form-control" rows="1" placeholder="only to memo ..." name="onlyto" id="onlyto"
                          #onlyto="ngModel" [(ngModel)]="model.onlyto"></textarea>
                      </div>
                      <p class="my-2"></p>
                      <div class="form-group">
                        <p>Exceptions - Memo</p>
                        <textarea class="form-control" rows="1" placeholder="exceptions memo ..." name="exceptions" id="exceptions"
                          #exceptions="ngModel" [(ngModel)]="model.exceptions"></textarea>
                      </div>
                      <p class="lead mt-3"></p>
                      <div>
                        <div class="clearfix">
                          <div class="float-left">
                            <button class="btn btn-outline-primary" type="button" [disabled]="disable" (click)="update()">
                              <em class="fa fa-pencil fa-fw"></em>Update {{model.lettername}} </button>
                          </div>
                          <div class="float-left">
                            <button [disabled]="!settingsForm.valid || !settingsForm.dirty" class="btn btn-outline-primary" type="submit">
                              <em class="fa fa-check fa-fw"></em>Add New</button>
                          </div>
                          <div class="float-right">
                            <button class="btn btn-danger" type="button" [disabled]="disable" (click)="delete()">
                              <em class="fas fa-trash-alt fa-fw"></em>Delete</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="col-xl-12">
                  <div class="card card-default">
                    <div class="card-header">
                      <!---<div class="px-2 float-right badge badge-danger">5</div>
                              <div class="px-2 mr-2 float-right badge badge-success">12</div>-->
                      <div class="card-title">Automations</div>
                    </div>
                    <!-- START list group-->
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>